#CombinedChartsComponent {
  margin-bottom: 10px;
  .graph-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    .donut-chart-container {
      width: 150px;
      height: 150px;
    }

    .card-container {
      border: 0.5px solid #9a9a9a;
      border-radius: 2px 0 0 0;
    }

    .chart-container {
      border-radius: 2px;
      padding: 20px;

      .chart-section {
        padding: 10px 0;
        border-radius: 10px 0 0 0;

        .title {
          font-size: 16px;
          text-align: left;
          color: #4f4f4f;
        }

        .total-number {
          font-size: 40px;
          text-align: left;
          color: #4f4f4f;
        }
      }

      .title-alternate {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .legend-section {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      font-size: 14px;
      color: #4f4f4f;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
        display: inline-block;
      }
    }

    &.legend-loss {
      .sys-affect {
        background-color: #4f772d;
      }

      .company-id {
        background-color: #ecf39e;
      }

      .gps-loss {
        background-color: #4f772d;
      }

      .alternative-mode {
        background-color: #31572c;
      }
    }

    &.legend-fuel {
      .meteorology {
        background-color: #5e548e;
      }

      .rwy-diff {
        background-color: #9f86c0;
      }

      .occ-decision {
        background-color: #e0b1cb;
      }

      .traffic-congestion {
        background-color: #be95c4;
      }
    }
  }
}
