<div id="trip-info-details-modal">
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [dismissableMask]="true"
    header="Trip Info Details"
    [style]="{ width: '860px' }"
    (onHide)="closeModal()"
  >
    <div class="px-6 py-4">
      <section class="grid grid-cols-2 gap-x-16 gap-y-4 text-sm text-gray-700">
        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Crew Version:</span>
          <span>{{ details?.crewVersion || "-" }}</span>
        </div>
        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Pantry Code:</span>
          <span>{{ details?.pantryCode || "-" }}</span>
        </div>
        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">DOW Tab:</span>
          <span>{{ details?.dow || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">DOI Tab:</span>
          <span>{{ details?.doi || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">MTOW:</span>
          <span>{{ details?.mtow || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">MZFW:</span>
          <span>{{ details?.mzfw || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">MALTOW:</span>
          <span>{{ details?.maltow || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">MLW:</span>
          <span>{{ details?.mlw || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Total Fuel On Board:</span>
          <span>{{ details?.blockFuel || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Take-Off Time:</span>
          <span>{{ details?.takeOffTime || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Taxi Fuel:</span>
          <span>{{ details?.taxiFuel || "-" }}</span>
        </div>
        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">EET:</span>
          <span>{{ details?.eet || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Trip Fuel:</span>
          <span>{{ details?.tripFuel || "-" }}</span>
        </div>

        <span></span>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">EIC:</span>
          <i
            *ngIf="details?.eic === true"
            class="pi pi-check-circle text-green-500"
          ></i>
          <i
            *ngIf="details?.eic === false"
            class="pi pi-times-circle text-red-500"
          ></i>
          <span *ngIf="details?.eic == null">-</span>
        </div>

        <span></span>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">EIC Adj:</span>
          <span>{{ details?.eicAdj || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">Index Effect:</span>
          <span>{{ details?.indEffect || "-" }}</span>
        </div>

        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">DOW Adj:</span>
          <span>{{ details?.dowAdj || "-" }}</span>
        </div>
        <div class="flex gap-2">
          <span class="text-[#8d8d8d] w-60">DOI Adj:</span>
          <span>{{ details?.doiAdj || "-" }}</span>
        </div>
      </section>
    </div>
  </p-dialog>
</div>
