<main id="LoadSheetPage">
  <section class="table-header-section lg:flex block">
    <!-- Header Title -->
    <p class="header-title">Load Sheet</p>
    <!-- Filter Inputs  -->
    <form [formGroup]="filterFormGroup" (ngSubmit)="onFilterSubmit()">
      <div class="flex justify-between items-center gap-4">
        <div class="grid grid-cols-10 gap-4 items-center">
          <!-- Aircraft  Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Aircraft"
                formControlName="acReg"
              />
            </p-iconField>
          </div>

          <!-- Flight No Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Flight No"
                formControlName="flightNo"
              />
            </p-iconField>
          </div>

          <!-- Dep Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Dep Port"
                formControlName="depPort"
              />
            </p-iconField>
          </div>

          <!-- Arr Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Arr Port"
                formControlName="arrPort"
              />
            </p-iconField>
          </div>

          <!-- Date Picker -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-datepicker
              selectionMode="range"
              [readonlyInput]="true"
              dateFormat="dd/mm/yy"
              placeholder="Start Date - End Date"
              class="custom-calendar"
              formControlName="dateRange"
            />
          </div>
        </div>
        <div>
          <p-button
            type="submit"
            icon="pi pi-search"
            [rounded]="true"
            class="filter-submit-btn"
          />
        </div>
      </div>
    </form>
  </section>

  <section class="slider-section custom-card">
    <div class="slider-container">
      <p class="slider-title">Approved</p>
      <p-slider
        [(ngModel)]="approvedValue"
        disabled
        class="approved-slider"
        [ngStyle]="{ width: '100%' }"
      ></p-slider>
      <p class="percentage">{{ approvedValue() }}%</p>
    </div>

    <div class="slider-container">
      <p class="slider-title">Declined</p>
      <p-slider
        [(ngModel)]="declinedValue"
        disabled
        class="declined-slider"
        [ngStyle]="{ width: '100%' }"
      ></p-slider>
      <p class="percentage">{{ declinedValue() }}%</p>
    </div>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="loadSheetTableData()"
      [tableColumns]="columns"
      [totalRecords]="loadSheetData()?.loadSheets?.totalElements || 0"
      (lazyLoadEvent)="lazyLoadEvent($event)"
    ></app-custom-table>
  </section>

  <app-load-and-trim-sheet
    [visible]="isDialogVisible"
    [loadSheetRowData]="loadAndTrimSheetData()"
    (closeModal)="toggleLoadAndTrimSheetDialogVisible()"
  >
  </app-load-and-trim-sheet>
</main>

<!-- Table Cell Templates -->
<ng-template #statusCellBodyTemplate let-rowData="rowData">
  @if (rowData.status == "LOADSHEET_APPROVED") {
    <span class="font-bold">APPROVED</span>
  } @else if (rowData.status == "LOADSHEET_DECLINED") {
    <span class="font-bold">DECLINED</span>
  }
</ng-template>

<ng-template #previewCellBodyTemplate let-rowData="rowData">
  <i
    class="pi pi-eye cursor-pointer"
    (click)="toggleLoadAndTrimSheetDialogVisible(rowData)"
  >
  </i
></ng-template>
