#load-sheet-page {
  .header-title {
    color: #0d0f11;
    font-size: 18px;
  }

  .table-show-btn {
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 4px 12px;
    background-color: white;
  }
}

::ng-deep #load-sheet-page .custom-card table {
  thead tr th:nth-child(16),
  thead tr th:nth-child(17),
  tbody tr td:nth-child(16),
  tbody tr td:nth-child(17) {
    padding-left: 1rem !important;
  }
}
