<div id="load-sheet-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Load Sheet</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          #searchInput
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <!-- Table -->
  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="loadSheetContentData()"
      [tableColumns]="columns()"
      [totalRecords]="loadSheetData()?.totalElements || 0"
      (lazyLoadEvent)="lazyLoadEvent($event)"
      [tableLoading]="tableLoading()"
    ></app-custom-table>
  </section>
</div>

<!-- Status Chip Template -->
<ng-template #statusColumnTemplate let-rowData="rowData">
  @switch (rowData.status) {
    @case("LOADSHEET_CREATED")    { <p-chip label="Created"   class="orange-chip"     /> }
    @case("LOADSHEET_DELIVERED")  { <p-chip label="Delivered" class="green-chip"      /> }
    @case("LOADSHEET_APPROVED")   { <p-chip label="Approved"  class="light-green-chip"/> }
    @case("LOADSHEET_DECLINED")   { <p-chip label="Declined"  class="red-chip"        /> }
    @case("LOADSHEET_REPLACED")   { <p-chip label="Replaced"  class="black-chip"      /> }
    @default                      { <p-chip label="{{ rowData.status || '-' }}" class="gray-chip" /> }
  }
</ng-template>

<!-- Load & Trim Sheet Button Column -->
<ng-template #loadSheetColumnTemplate let-rowData="rowData">
  <button class="table-show-btn" (click)="onLoadSheetShow(rowData)">
    Show
  </button>
</ng-template>

<ng-template #cgLimitsColumnTemplate let-rowData="rowData">
  <button class="table-show-btn" (click)="onShowCGLimitsDialog(rowData)">
    Show
  </button>
</ng-template>

<!-- Load & Trim Sheet Modal -->
<app-load-and-trim-sheet
  *ngIf="selectedLoadSheetRowData()"
  [loadSheetRowData]="selectedLoadSheetRowData()"
  [(visible)]="loadSheetModalVisible"
></app-load-and-trim-sheet>

<app-cg-limits-dialog
  *ngIf="cgLimitsDialogVisible()"
  [(visible)]="cgLimitsDialogVisible"
  [selectedRowData]="selectedRowData()"
/>


<!-- LMC Button Column -->
<ng-template #lmcColumnTemplate let-rowData="rowData">
  <button
    class="border border-gray-300 rounded-md px-3 py-1 bg-white"
    (click)="onLmcShow(rowData)"
  >
    Show
  </button>
</ng-template>

<!-- LMC Details Modal -->
<app-lmc-details-modal
  *ngIf="selectedLmcRowData()"
  [rowData]="selectedLmcRowData()"
  [(visible)]="lmcModalVisible"
></app-lmc-details-modal>
