<main id="AirbusInfo">
  <section class="graph-container">
    <div class="font-bold mb-6">Airbus / 2024</div>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-4">
      <!-- Total Duty Chart -->
      <div class="lg:flex sm: block">
        <div>
          <div class="chart-title">Total Duty</div>
          <div class="chart-number">12.345</div>
        </div>

        <div class="chart-container">
          <app-custom-donut-chart [data]="chartDataOne" [options]="chartOptionsOne" />
        </div>

        <div class="list-section duty-chart-list">
          <ul>
            <li><span class="dot flight"></span> Flight</li>
            <li><span class="dot training"></span>Training</li>
          </ul>
        </div>
      </div>

      <!-- Total Time Chart -->
      <div class="lg:flex sm: block">
        <div>
          <div class="chart-title">Total Time</div>
          <div class="chart-number">
            <span>22.345</span>
            <small> hours</small>
          </div>
        </div>

        <div class="chart-container">
          <app-custom-donut-chart [data]="chartDataTwo" [options]="chartOptionsTwo" />
        </div>

        <div class="list-section time-chart-list">
          <ul>
            <li><span class="dot flight"></span> Flight</li>
            <li><span class="dot training"></span>Training</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="table-section custom-card">
    <p class="title">Airbus</p>

    <app-custom-table 
      [tableData]="airbusInfoData" 
      [tableColumns]="columns" 
      [isPaginator]="false"
      (rowClickedEvent)="tableRowSelected($event)"
    />
  </section>
</main>