<div id="trip-info-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Trip Infos</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="tripInfoTableData()"
      [tableColumns]="columns"
      [totalRecords]="tripInfoData()?.totalElements || 0"
      (lazyLoadEvent)="lazyLoadEvent($event)"
    ></app-custom-table>
  </section>
</div>
