<main id="TripInfoPage">
  <section class="table-header-section">
    <span class="font-bold">Trip Info</span>
    <p-dropdown
      [options]="periodOptions"
      [(ngModel)]="selectedPeriod"
      optionLabel="label"
      optionValue="value"
      class="custom-dropdown period-dropdown"
      placeholder="Daily"
    ></p-dropdown>
  </section>

  <section class="table-section">
    <p-table
      [value]="tripInfoData"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of columns">{{ column.header }}</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-tripInfo>
        <tr>
          <td>{{ tripInfo.aircraft }}</td>
          <td>{{ tripInfo.flightNo }}</td>
          <td>{{ tripInfo.departure }}</td>
          <td>{{ tripInfo.arrival }}</td>
          <td class="font-bold">{{ tripInfo.status }}</td>
          <td>{{ tripInfo.username }}</td>
          <td><i class="pi pi-eye"></i></td>
          <td><i class="pi pi-download"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>
