#LayoutMenuComponent {
  .layout-menubar {
    .menu-logo {
      margin-right: 30px;
    }

    .p-menuitem-link {
      .menu-item-label {
        margin-left: 10px;
        font-size: 12px;
      }

      .menu-item-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}

::ng-deep {
  #LayoutMenuComponent {
    .layout-menubar {
      .p-menubar {
        padding: 10px 20px 10px 20px;

        .p-menubar-button {
          color: black;
        }
      }

      .profile-avatar {
        width: 47px;
        height: 47px;
        .p-avatar {
          width: 100%;
          height: 100%;
          border: 2px solid #FED447;
          img {
            width: 100%;
            height: 100%;
            object-fit:cover;
          }
        }
      }
    }
  }
}