#LayoutSidebarMenu {
  .sidebar-menu-container {
    padding: 35px 5px 59px 5px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 10px;

    .sidebar-menu-header {
      margin-bottom: 20px;
      .sidebar-close-btn {
        .p-button {
          background-color: yellow;
        }
      }
    }

    .pegasus-logo {
      width: 117px;
      height: auto;
      padding: 10px 0px 0px 10px;
    }

    .sidebar-menu-content {
      padding: 10px 5px 10px 5px;

      .menu-item,
      .submenu-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        border-left: 2px solid transparent;
        transition: all 0.3s ease;
      }

      .submenu-item {
        padding-left: 20px;
      }

      .menu-item:hover,
      .submenu-item:hover,
      .menu-item.active,
      .submenu-item.active {
        background-color: #fed4471a;
        border-left-color: #fed447;

        img {
          filter: invert(97%) sepia(22%) saturate(7475%) hue-rotate(320deg)
            brightness(105%) contrast(99%);
        }

        span {
          color: #fed447;
          fill: #fed447;
        }
      }
    }

    .sidebar-menu-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;

      .menu-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-left: 2px solid transparent;
        transition: all 0.3s ease;
      }

      .menu-item:hover,
      .menu-item.active {
        background-color: #fed4471a;
        border-left-color: #fed447;
        img {
          filter: invert(97%) sepia(22%) saturate(7475%) hue-rotate(320deg)
            brightness(105%) contrast(99%);
        }
        span {
          color: #fed447;
          fill: #fed447;
        }
      }
    }
  }
}

::ng-deep {
  #LayoutSidebarMenu {
    .sidebar-menu-header {
      .sidebar-close-btn {
        .p-button {
          background-color: transparent;
          border: none;
          color: #4f4f4f;
        }
      }
    }

    .p-panel .p-panel-header {
      border: none;
      background-color: transparent;
      padding: 0;
    }

    .p-panel .p-panel-header .p-panel-title {
      font-weight: normal;
    }

    .p-panel .p-panel-content {
      border: none;
    }

    .p-panel .p-panel-icons-end {
      display: none;
    }
  }
}
