<div id="LayoutSidebarMenu">
  <div class="sidebar-menu-container">
    <!-- Menu Header -->
    <div class="sidebar-menu-header flex items-center justify-between">
      <img
        src="/images/pegasus_logo.svg"
        alt="Pegasus Logo"
        class="pegasus-logo"
      />

      <p-button
        icon="pi pi-times"
        class="sidebar-close-btn mt-2 lg:hidden"
        (onClick)="closeCallback($event)"
      />
    </div>

    <!-- Menu Content -->
    <div class="sidebar-menu-content">
      @for (menuItem of menuItems; track $index) {
        <div class="menu-item-container">
          <a
            pRipple
            class="menu-item w-full"
            routerLink="/{{ menuItem.path }}"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <img
              src="/icons/{{ menuItem.icon }}"
              alt="{{ menuItem.label }}"
              class="icon-class"
            />
            <span class="ml-2">{{ menuItem.label }}</span>
          </a>
        </div>
      }
    </div>
  </div>
</div>
