#flight-info-page {
  .header-title {
    color: #0d0f11;
    font-size: 18px;
  }

  .bar-in-progress {
    background-color: #feb914;
  }

  .bar-approved {
    background-color: #0e8345;
  }

  .bar-waiting {
    background-color: #dfe3e9;
  }

  .table-show-btn {
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 4px 12px;
    background-color: white;
  }
}

::ng-deep .p-column-filter-active {
  .p-iconwrapper {
    color: #feb914;
  }
}
