<div id="flight-info-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Flights</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          #searchInput
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />

        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>
  <section class="table-section custom-card">
    <p-table
      [value]="flightInformatioHistoryTableData()"
      [columns]="mainCols"
      dataKey="legIsn"
      [loading]="tableLoading"
      [expandedRowKeys]="expandedRows"
      [paginator]="true"
      [rows]="currentRows"
      [rowsPerPageOptions]="[20, 40, 80]"
      [totalRecords]="flightInformationHistoryData()?.totalElements || 0"
      [first]="currentPage * currentRows"
      [lazy]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      stripedRows
      (onPage)="pageEvent($event)"
      (onRowExpand)="onRowExpand($event)"
      (onRowCollapse)="onRowCollapse($event)"
    >
      <!-- Table Header -->
      <ng-template #header let-columns>
        <tr>
          <th></th>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template
        #body
        let-rowData
        let-columns="columns"
        let-expanded="expanded"
      >
        <tr>
          <td>
            <p-button
              type="button"
              pRipple
              [pRowToggler]="rowData"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            />
          </td>

          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>

      <!-- Row Expansion Content -->
      <ng-template #expandedrow>
        <tr>
          <td colspan="13">
            <div>
              <p-tabs [value]="0" class="custom-tabs">
                <p-tablist>
                  <p-tab
                    *ngFor="let tab of tableSubPanels; index as i"
                    [value]="i"
                  >
                    {{ tab.panelHeader }}
                  </p-tab>
                </p-tablist>
                <p-tabpanels>
                  <p-tabpanel
                    *ngFor="let tab of tableSubPanels; index as i"
                    [value]="i"
                  >
                    <app-custom-table
                      [tableData]="tab.tableData"
                      [tableColumns]="tab.tableColumns"
                      [tableLoading]="tab.tableLoading"
                      [isPaginator]="false"
                    ></app-custom-table>
                  </p-tabpanel>
                </p-tabpanels>
              </p-tabs>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>

<!-- Table Cell Templates -->
<ng-template #flightPlanTableFlightPlanCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #tripInfoTableTripInfoCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #loadSheetTableLoadSheetCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #loadSheetTableCGLimitsCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #routeTableDocumentsCellTemplate let-rowData="rowData">
  <img
    src="/icon/documents-icon.svg"
    alt="document view icon"
    class="icon-class"
  />
</ng-template>



<ng-template #statusColumnTemplate let-rowData="rowData">
  @switch (rowData.status) {
    @case ("WAITING") {
      <p-chip label="Waiting" class="green-chip" />
    }
    @case ("IN_PROGRESS") {
      <p-chip label="In Progress" class="yellow-chip" />
    }
    @case ("COMPLETED") {
      <p-chip label="Completed" class="yellow-chip" />
    }
    @default {
      <p-chip label="{{ rowData.status || '-' }}" class="gray-chip" />
    }
  }
</ng-template>
