#flight-info-page {
  .header-title {
    color: #0d0f11;
    font-size: 18px;
  }

  .bar-in-progress {
    background-color: #feb914;
  }

  .bar-approved {
    background-color: #0e8345;
  }

  .bar-waiting {
    background-color: #dfe3e9;
  }
}

::ng-deep .p-column-filter-active {
  .p-iconwrapper {
    color: #feb914;
  }

 
}
