<main id="FlightInfoComponent">
  <section class="table-header-container lg:flex block">
    <!-- Header Title -->
    <p class="header-title">Flight Information List</p>
    <!-- Filter Inputs -->
    <form [formGroup]="filterFormGroup" (ngSubmit)="onFilterSubmit()">
      <div class="flex justify-between items-center gap-4">
        <div class="grid grid-cols-10 gap-4 items-center">
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input type="text" pInputText placeholder="Flight No" />
            </p-iconField>
          </div>

          <!-- Dep Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input type="text" pInputText placeholder="Dep Port" />
            </p-iconField>
          </div>

          <!-- Arr Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input type="text" pInputText placeholder="Arr Port" />
            </p-iconField>
          </div>

          <!-- User Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input type="text" pInputText placeholder="User" />
            </p-iconField>
          </div>

          <!-- Date Picker -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-datepicker
              [(ngModel)]="dateRange"
              selectionMode="range"
              [readonlyInput]="true"
              dateFormat="dd/mm/yy"
              placeholder="Start Date - End Date"
              class="custom-calendar"
            />
          </div>
        </div>

        <div>
          <p-button
            type="submit"
            icon="pi pi-search"
            [rounded]="true"
            class="filter-submit-btn"
          />
        </div>
      </div>
    </form>
  </section>

  <section class="table-section custom-card">
    <p-table
      [value]="flightsData"
      [columns]="mainCols"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped"
      [expandedRowKeys]="expandedRows"
      (onRowExpand)="onRowExpand($event)"
      (onRowCollapse)="onRowCollapse($event)"
      [paginator]="true"
      [rows]="20"
      [rowsPerPageOptions]="[20, 40, 80]"
    >
      <!-- Table Header -->
      <ng-template #header let-columns>
        <tr>
          <th></th>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template
        #body
        let-rowData
        let-columns="columns"
        let-expanded="expanded"
      >
        <tr>
          <td>
            <p-button
              type="button"
              pRipple
              [pRowToggler]="rowData"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            />
          </td>

          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>

      <!-- Row Expansion Content -->
      <ng-template #expandedrow>
        <tr>
          <td colspan="12">
            <div>
              <p-tabs value="0">
                <p-tablist>
                  @for (tab of tableSubPanels; track tab.value) {
                    <p-tab [value]="tab.value">{{ tab.panelHeader }}</p-tab>
                  }
                </p-tablist>
                <p-tabpanels>
                  @for (tab of tableSubPanels; track tab.value) {
                    <p-tabpanel [value]="tab.value">
                      <app-custom-table
                        [tableData]="tab.tableData"
                        [tableColumns]="tab.tableColumns"
                      ></app-custom-table>
                    </p-tabpanel>
                  }
                </p-tabpanels>
              </p-tabs>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>

<!-- Table Cell Templates -->
<ng-template #flightPlanTableFlightPlanCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #tripInfoTableTripInfoCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #loadSheetTableLoadSheetCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #loadSheetTableCGLimitsCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>
