<div id="flight-info-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Flights</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
         #searchInput
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />

        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <section class="table-section custom-card">
    <p-table 
      dataKey="legIsn"
      [value]="flightInformatioHistoryTableData()"
      [columns]="mainCols"
      [loading]="tableLoading()"
      [expandedRowKeys]="expandedRows"
      [paginator]="true"
      [rows]="currentRows()"
      [rowsPerPageOptions]="[20, 40, 80]"
      [totalRecords]="flightInformationHistoryData()?.totalElements || 0"
      [first]="currentPage() * currentRows()"
      [lazy]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      stripedRows
      (onPage)="pageEvent($event)"
      (onRowExpand)="onRowExpand($event)"
      (onRowCollapse)="onRowCollapse($event)"
      (onLazyLoad)="lazyLoadEvent($event)"
    >
      <!-- Table Header -->
      <ng-template #header let-columns>
        <tr>
          <th></th>
          <th *ngFor="let col of columns">
            <div
              class="flex items-center"
              [ngClass]="{ 'p-column-filter-active': filterValues[col.field] }"
            >
              {{ col.header }}
              <ng-container [ngSwitch]="col.filterType">
                <!-- Selectbox Filter -->
                <ng-container *ngSwitchCase="'selectbox'">
                  <ng-container
                    *ngTemplateOutlet="
                      selectFilterTemplate;
                      context: { $implicit: col }
                    "
                  />
                </ng-container>

                <!-- Datepicker Filter -->
                <ng-container *ngSwitchCase="'datepicker'">
                  <ng-container
                    *ngTemplateOutlet="
                      dateFilterTemplate;
                      context: { $implicit: col }
                    "
                  />
                </ng-container>

                <!-- Default Text Filter -->
                <ng-container *ngSwitchDefault>
                  <ng-container
                    *ngTemplateOutlet="
                      defaultFilterTemplate;
                      context: { $implicit: col }
                    "
                  />
                </ng-container>
              </ng-container>
            </div>
          </th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template
        #body
        let-rowData
        let-columns="columns"
        let-expanded="expanded"
      >
        <tr>
          <td>
            <p-button
              type="button"
              pRipple
              [pRowToggler]="rowData"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            />
          </td>

          <td *ngFor="let column of mainCols">
            <ng-container *ngIf="column.template; else defaultCell">
              <ng-container
                *ngTemplateOutlet="
                  column.template;
                  context: { rowData: rowData }
                "
              ></ng-container>
            </ng-container>

            <ng-template #defaultCell>
              {{ rowData[column.field] || "-" }}
            </ng-template>
          </td>
        </tr>
      </ng-template>

      <!-- Row Expansion Content -->
      <ng-template #expandedrow>
        <tr>
          <td colspan="13">
            <div>
              <p-tabs [value]="0" class="custom-tabs">
                <p-tablist>
                  <p-tab
                    *ngFor="let tab of tableSubPanels; index as i"
                    [value]="i"
                  >
                    {{ tab.panelHeader }}
                  </p-tab>
                </p-tablist>
                <p-tabpanels>
                  <p-tabpanel
                    *ngFor="let tab of tableSubPanels; index as i"
                    [value]="i"
                  >
                    <app-custom-table
                      [tableData]="tab.tableData"
                      [tableColumns]="tab.tableColumns"
                      [tableLoading]="tab.tableLoading"
                      [isPaginator]="false"
                    ></app-custom-table>
                  </p-tabpanel>
                </p-tabpanels>
              </p-tabs>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- Filters Template -->
      <!-- Default Text Filter -->
      <ng-template #defaultFilterTemplate let-col>
        <ng-container *ngIf="col.isFilter">
          <p-columnFilter
            type="text"
            [field]="col.field"
            display="menu"
            matchMode="contains"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
            ariaLabel="Filter"
          >
            <ng-template #filter let-filter="filterCallback">
              <input
                pInputText
                [(ngModel)]="filterValues[col.field]"
                [placeholder]="'Search by ' + col.header"
                (ngModelChange)="filter($event)"
              />
            </ng-template>
          </p-columnFilter>
        </ng-container>
      </ng-template>

      <!-- Selectbox Template -->
      <ng-template #selectFilterTemplate let-col>
        <p-columnFilter
          [field]="col.field"
          matchMode="equals"
          display="menu"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showApplyButton]="false"
        >
          <ng-template #filter let-filter="filterCallback">
            <p-select
              [options]="col.filterOptions"
              [(ngModel)]="filterValues[col.field]"
              styleClass="w-full"
              placeholder="Select One"
              (onChange)="filter($event.value)"
            >
              <ng-template let-option #item>
                <span>{{ option.label }}</span>
              </ng-template>
            </p-select>
          </ng-template>
        </p-columnFilter>
      </ng-template>

      <!-- Datepicker Template -->
      <ng-template #dateFilterTemplate let-col>
        <p-columnFilter
          [field]="col.field"
          matchMode="equals"
          display="menu"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showApplyButton]="false"
        >
          <ng-template #filter let-filter="filterCallback">
            <p-datepicker
              [readonlyInput]="true"
              [(ngModel)]="filterValues[col.field]"
              dateFormat="dd/mm/yy"
              placeholder="Select a Date"
              class="custom-calendar"
              (onSelect)="filter(filterDateControl($event))"
            />
          </ng-template>
        </p-columnFilter>
      </ng-template>
    </p-table>
  </section>
</div>

<!-- Table Cell Templates -->
<ng-template #flightPlanTableFlightPlanCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #tripInfoTableTripInfoCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #loadSheetTableLoadSheetCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #loadSheetTableCGLimitsCellTemplate let-rowData="rowData">
  <i class="pi pi-eye icon-class"></i>
</ng-template>

<ng-template #routeTableDocumentsCellTemplate let-rowData="rowData">
  <img
    src="/icon/documents-icon.svg"
    alt="document view icon"
    class="icon-class"
  />
</ng-template>

<ng-template #statusColumnTemplate let-rowData="rowData">
  @switch (rowData.status) {
    @case ("WAITING") {
      <p-chip label="Waiting" class="gray-chip" />
    }
    @case ("IN PROGRESS") {
      <p-chip label="In Progress" class="yellow-chip" />
    }
    @case ("APPROVED") {
      <p-chip label="Approve" class="green-chip" />
    }
    @default {
      <p-chip label="{{ rowData.status || '-' }}" class="gray-chip" />
    }
  }
</ng-template>

<ng-template #requiredActionsTemplate let-rowData="rowData">
  <div class="h-1 bg-gray-200">
    <div
      class="h-full"
      [style.width.%]="(rowData.requiredActions ?? 0) * 100"
      [ngClass]="{
        'bar-in-progress': rowData.status === 'IN PROGRESS',
        'bar-approved': rowData.status === 'APPROVED',
        'bar-waiting': rowData.status === 'WAITING',
      }"
    ></div>
  </div>
</ng-template>
