<div id="gps-loss-forms-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">GPS Loss Form</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <!-- Table -->
  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="gpsLossFormsContentData()"
      [tableColumns]="columns()"
      [totalRecords]="gpsLossFormsData()?.totalElements || 0"
      (lazyLoadEvent)="lazyLoadEvent($event)"
      [tableLoading]="tableLoading()"
    ></app-custom-table>
  </section>
</div>

<!-- GPS Loss Forms Column Template -->
<ng-template #gpsLossFormsColumnTemplate let-rowData="rowData">
  <button
    class="border border-gray-300 rounded-md px-3 py-1 bg-white"
    (click)="onGpsLossFormsShow(rowData)"
  >
    Show
  </button>
</ng-template>

<!-- GPS Loss Types Modal -->
<app-gps-loss-forms-modal
  [(visible)]="modalVisible"
  [rowData]="selectedRow()"
/>
