<main id="RouteComponent">
  <section class="table-header-section lg:flex block">
    <!-- Header Title -->
    <p class="header-title">Route</p>
    <!-- Filter Inputs and Dropdown -->
    <form [formGroup]="filterFormGroup" (ngSubmit)="onFilterSubmit()">
      <div class="flex justify-between items-center gap-4">
        <div class="grid grid-cols-10 gap-4 items-center">
          <!-- Flight No Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Flight No"
                formControlName="flightNo"
              />
            </p-iconField>
          </div>

          <!-- Dep Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Dep Port"
                formControlName="depPort"
              />
            </p-iconField>
          </div>

          <!-- Arr Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Arr Port"
                formControlName="arrPort"
              />
            </p-iconField>
          </div>

          <!-- User Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="User"
                formControlName="username"
              />
            </p-iconField>
          </div>

          <!-- Date Picker -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-datepicker
              formControlName="dateRange"
              selectionMode="range"
              placeholder="Start Date - End Date"
              dateFormat="dd/mm/yy"
              class="custom-calendar"
              [readonlyInput]="true"
            />
          </div>
        </div>

        <div>
          <p-button
            type="submit"
            icon="pi pi-search"
            [rounded]="true"
            class="filter-submit-btn"
          />
        </div>
      </div>
    </form>
  </section>

  <section class="table-section custom-card">
    <p-table
      [value]="routeHistoryTableData()"
      [columns]="mainCols"
      dataKey="flightPlanId"
      [tableStyle]="{ 'min-width': '50rem' }"
      stripedRows
      [loading]="tableLoading"
      [paginator]="true"
      [rows]="currentRows"
      [totalRecords]="routeHistoryData()?.totalElements || 0"
      [lazy]="true"
      [rowsPerPageOptions]="[20, 40, 80]"
      [first]="currentPage * currentRows"
      (onPage)="pageEvent($event)"
      (onRowExpand)="onRowExpand($event)"
      (onRowCollapse)="onRowCollapse($event)"
      [expandedRowKeys]="expandedRows"
    >
      <!-- Table Header -->
      <ng-template #header let-columns>
        <tr>
          <th></th>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <!-- Table Body -->
      <ng-template
        #body
        let-rowData
        let-columns="columns"
        let-expanded="expanded"
      >
        <tr>
          <td>
            <p-button
              type="button"
              pRipple
              [pRowToggler]="rowData"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            />
          </td>

          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>

      <!-- Row Expansion Content -->
      <ng-template #expandedrow>
        <tr>
          <td colspan="12">
            <div>
              <app-custom-table
                [tableData]="detailsData"
                [tableColumns]="detailsCols"
              ></app-custom-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>

<!-- Table Cell Templates -->
<ng-template #expandableTableDocumentsIconTemplate let-rowData="rowData">
  <img
    src="/icon/documents-icon.svg"
    alt="document view icon"
    class="icon-class"
  />
</ng-template>
