<main id="LogbookEditPage">
    <!-- Header -->
    <section>
      <div class="page-header">
        <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
        <button pButton type="button" label="SAVE" (click)="onSave()"></button>
      </div>
    </section>
  
    <!-- Form -->
    <section class="form-section custom-card">
      <p class="title">Flight</p>
      <form [formGroup]="logbookFormGroup" class="grid grid-cols-12 gap-5 text-center">
        <!-- Crew Name -->
        <p-floatLabel class="custom-float-label-field col-span-2">
          <input pInputText id="crewName" formControlName="crewName" />
          <label for="crewName">Crew Name & Surname</label>
        </p-floatLabel>
  
        <!-- Company ID -->
        <p-floatLabel class="custom-float-label-field col-span-2">
          <input pInputText id="companyId" formControlName="companyId" />
          <label for="companyId">Company ID</label>
        </p-floatLabel>
  
        <!-- Upload Date -->
        <p-floatLabel class="custom-float-label-field col-span-2">
          <input pInputText id="uploadDate" formControlName="uploadDate" type="date" />
          <label for="uploadDate">Upload Date</label>
        </p-floatLabel>
  
        <!-- A/C Type -->
        <p-floatLabel class="custom-float-label-field col-span-2">
          <input pInputText id="acType" formControlName="acType" />
          <label for="acType">A/C Type</label>
        </p-floatLabel>
  
        <!-- A/C Reg -->
        <p-floatLabel class="custom-float-label-field col-span-2">
          <input pInputText id="acReg" formControlName="acReg" />
          <label for="acReg">A/C Reg</label>
        </p-floatLabel>
  
        <!-- Status -->
        <p-floatLabel class="custom-float-label-field col-span-2">
          <input pInputText id="status" formControlName="status" />
          <label for="status">Status</label>
        </p-floatLabel>
  
        <!-- Flight Version -->
        <p-floatLabel class="custom-float-label-field col-span-4">
          <input pInputText id="flightVersion" formControlName="flightVersion" />
          <label for="flightVersion">Flight Version</label>
        </p-floatLabel>
  
        <!-- Date -->
        <p-floatLabel class="custom-float-label-field col-span-4">
          <input pInputText id="date" formControlName="date" type="date" />
          <label for="date">Date</label>
        </p-floatLabel>
  
        <!-- Departure -->
        <p-floatLabel class="custom-float-label-field col-span-4">
          <input pInputText id="departure" formControlName="departure" />
          <label for="departure">Departure</label>
        </p-floatLabel>
  
        <!-- Arrival -->
        <p-floatLabel class="custom-float-label-field col-span-4">
          <input pInputText id="arrival" formControlName="arrival" />
          <label for="arrival">Arrival</label>
        </p-floatLabel>
  
        <!-- Departure Time -->
        <p-floatLabel class="custom-float-label-field col-span-4">
          <input pInputText id="departureTime" formControlName="departureTime" />
          <label for="departureTime">Departure Time</label>
        </p-floatLabel>
  
        <!-- Arrival Time -->
        <p-floatLabel class="custom-float-label-field col-span-4">
          <input pInputText id="arrivalTime" formControlName="arrivalTime" />
          <label for="arrivalTime">Arrival Time</label>
        </p-floatLabel>
  
        <!-- Remarks -->
        <p-floatLabel class="custom-float-label-field col-span-12">
          <textarea pInputTextarea id="remarks" formControlName="remarks" rows="3"></textarea>
          <label for="remarks">Remarks And Endorsements</label>
        </p-floatLabel>
      </form>
    </section>
  
   
  </main>
  