<div class="card-placeholder">
  <p class="title">Top 5 Most Used Alternate Routes (Last 6 Months)</p>
  
  <div class="table-box">
    <table>
      <thead>
        <tr>
          <th>Route</th>
          <th>From-To</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of routeList()">
          <td>{{ item.route }}</td>
          <td>{{ item.fromTo }}</td>
          <td>{{ item.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
