<div id="flight-plans-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Flight Plans</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <!-- Table -->
  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="flightPlansData()"
      [tableColumns]="columns()"
      [totalRecords]="flightPlansTotal()"
      (lazyLoadEvent)="lazyLoadEvent($event)"
    ></app-custom-table>
  </section>
</div>

<!-- Flight Plan Column Template -->
<ng-template #flightPlansColumnTemplate let-rowData="rowData">
  <button
    class="border border-gray-300 rounded-md px-3 py-1 bg-white"
    (click)="onFlightPlansShow(rowData)"
  >
    Show
  </button>
</ng-template>

<!-- Status Chip Template -->
<ng-template #statusColumnTemplate let-rowData="rowData">
  @switch (rowData.status) {
    @case ("SUBMITTED") {
      <p-chip label="Submitted" class="light-green-chip" />
    }
    @case ("APPROVED") {
      <p-chip label="Approved" class="green-chip" />
    }
    @case ("DECLINED") {
      <p-chip label="Declined" class="red-chip" />
    }
    @case ("WAITING_APPROVE") {
      <p-chip label="Waiting for approve" class="orange-chip" />
    }
    @case ("REPLACED") {
      <p-chip label="Replaced" class="black-chip" />
    }
    @default {
      <p-chip label="{{ rowData.status || '-' }}" class="gray-chip" />
    }
  }
</ng-template>
