#UserLoginHistoryPage {
  .table-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .header-title {
      color: #4f4f4f;
      font-weight: bold;
    }
  }
}

::ng-deep {
  #UserLoginHistoryPage {
    .filter-submit-btn {
      .p-button {
        background-color: #feb914;
        border-color: #feb914;
        width: 30px;
        height: 30px;
        margin: 5px;
        margin-left: 0;

        .p-button-icon {
          font-size: 14px;
        }
      }
    }
  }
}
