<main id="UserLoginHistoryPage">
  <section class="table-header-section lg:flex block">
    <!-- Header Title -->

    <p class="header-title">User Login History</p>

    <form [formGroup]="filterFormGroup" (ngSubmit)="onFilterSubmit()">
      <div class="flex justify-between items-center gap-4">
        <!-- Filter Inputs and Dropdown -->
        <div class="grid grid-cols-12 gap-4 items-center">
          <!-- Username  Input -->
          <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Username"
                formControlName="username"
              />
            </p-iconField>
          </div>

          <!-- Company Id Input -->
          <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Company ID"
                formControlName="companyID"
              />
            </p-iconField>
          </div>

          <!-- Calendar -->
          <div class="lg:col-span-4 md:col-span-6 col-span-12">
            <p-calendar
              formControlName="dateRange"
              selectionMode="range"
              [showIcon]="false"
              placeholder="Start Date - End Date"
              dateFormat="dd/mm/yy"
              class="custom-calendar"
              readonlyInput
            ></p-calendar>
          </div>
        </div>
      <div>
        <p-button
          type="submit"
          icon="pi pi-search"
          [rounded]="true"
          class="filter-submit-btn"
        />
      </div>
    </div>

    </form>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="userLoginHistoryTableData()"
      [tableColumns]="columns"
      [totalRecords]="userLoginHistoryData()?.totalElements || 0"
      (pageEvent)="pageEvent($event)"
    ></app-custom-table>
  </section>
</main>

<ng-template #loggedInDateTemplate let-rowData="rowData">
  <span>{{ rowData.loggedInDate | date: "YYYY-MM-dd HH:mm:ss" }}</span>
</ng-template>
