<main id="UserLoginHistoryPage">
  <section class="table-header-section">
    <span class="header-title">User Login History</span>
    <p-dropdown
      [options]="periodOptions"
      [(ngModel)]="selectedPeriod"
      (ngModelChange)="onPeriodChange($event)"
      optionLabel="label"
      optionValue="value"
      class="custom-dropdown period-dropdown"
    ></p-dropdown>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="userLoginHistoryTableData()"
      [tableColumns]="columns"
      [totalRecords]="userLoginHistoryData()!.totalElements"
      (pageEvent)="pageEvent($event)"
    ></app-custom-table>
  </section>
</main>
