::ng-deep {
    .custom-breadcrumb-component {
        .p-breadcrumb {
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: 14px;
          }
          
          .item-text {
            color: #4B5160;
          }
    }
}