<main id="FuelOrderPage">
  <section class="table-header-section lg:flex block">
    <!-- Header Title -->
    <p class="header-title">Fuel</p>
    <!-- Filter Form -->
    <form [formGroup]="filterFormGroup" (ngSubmit)="onFilterSubmit()">
      <div class="flex justify-between items-center gap-4">
        <div class="grid grid-cols-10 gap-4 items-center">
          <!-- Aircraft  Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Aircraft"
                formControlName="acReg"
              />
            </p-iconField>
          </div>
          <!-- Flight No Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Flight No"
                formControlName="flightNo"
              />
            </p-iconField>
          </div>
          <!-- Dep Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Dep Port"
                formControlName="depPort"
              />
            </p-iconField>
          </div>
          <!-- Arr Port Input -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-iconField iconPosition="right" class="custom-icon-field">
              <input
                type="text"
                pInputText
                placeholder="Arr Port"
                formControlName="arrPort"
              />
            </p-iconField>
          </div>
          <!-- Date Range Picker -->
          <div class="lg:col-span-2 md:col-span-6 col-span-12">
            <p-datepicker
              formControlName="dateRange"
              selectionMode="range"
              [readonlyInput]="true"
              dateFormat="dd/mm/yy"
              placeholder="Start Date - End Date"
              class="custom-calendar"
            />
          </div>
        </div>
        <div>
          <p-button
            type="submit"
            icon="pi pi-search"
            [rounded]="true"
            class="filter-submit-btn"
          />
        </div>
      </div>
    </form>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="fuelOrderHistoryTableData()"
      [tableColumns]="columns"
      [totalRecords]="fuelOrderHistoryData()?.totalElements || 0"
      [tableLoading]="tableLoading"
      (pageEvent)="pageEvent($event)"
    ></app-custom-table>
  </section>
</main>
