#FuelOrderPage {
  .table-header-section {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .header-title {
      font-weight: bold;
      color: #4f4f4f;
    }
  }
}

::ng-deep {
  #FuelOrderPage {
    .p-calendar {
      width: 125px !important;
    }

    .filter-submit-btn {
      .p-button {
        background-color: #feb914;
        border-color: #feb914;
        width: 30px;
        height: 30px;

        .p-button-icon {
          font-size: 14px;
        }
      }
    }
  }
}
