::ng-deep {
  #reports-modal {
    font-size: 14px !important;
    .label {
      color: #8d8d8d;
    }

    .value {
      color: #000;
    }

    .custom-tabs .p-tablist-tab-list {
      display: flex !important;
      justify-content: space-between !important;
      background-color: #f4f6f8 !important;
      height: 30px;
    }

    .custom-tabs .p-tab {
      flex: 1 1 auto !important;
      text-align: center !important;
      font-weight: 400 !important;
      color: #000 !important;
      border-width: 0 !important;
    }

    .custom-tabs .p-tab.p-highlight {
      font-weight: 600 !important;
    }

    .custom-tabs .p-tablist-active-bar {
      background-color: #000 !important;
    }

    .custom-tabs .p-tabpanels {
      padding: 35px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
    }

    .divert-section {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .divert-info {
        p {
          display: flex;
          gap: 8px;
        }
      }

      .delay-codes {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .delay-card {
          background-color: #f4f6f8;
          border-radius: 6px;
          padding: 25px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
