.header-box {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;

  .title {
    font-size: 14px;
    font-weight: 700;
    color: #4f4f4f;
  }
}

::ng-deep {
  .header-box {
    .dropdown {
      width: 122px;

      .p-dropdown {
        display: flex;
        align-items: center;
        width: 100%;
        border: none;
        border-radius: 5px;
        background: #f5f5f5;

        .p-dropdown-label {
          font-size: 10px;
          font-weight: 300;
          color: #4f4f4f;
        }
      }
    }
  }
}
