<main id="AirportInfoPage">
  <section class="form-section custom-card">
    <p class="title">Airport Information</p>
    <form
      [formGroup]="airportInfoFormGroup"
      class="grid grid-cols-12 gap-5 text-center"
      (ngSubmit)="formSubmit()"
    >
      <!-- City -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="city" formControlName="city" />
        <label for="city">City</label>
      </p-floatLabel>

      <!-- Category -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="category" formControlName="category" />
        <label for="category">Category</label>
      </p-floatLabel>

      <!-- IATA -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="iata" formControlName="iata" />
        <label for="iata">IATA</label>
      </p-floatLabel>

      <!-- Name -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="name" formControlName="name" />
        <label for="name">Name</label>
      </p-floatLabel>

      <!-- Approach Category -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input
          pInputText
          id="approachCategory"
          formControlName="approachCategory"
        />
        <label for="approachCategory">Approach Category</label>
      </p-floatLabel>

      <!-- ICAO -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="icao" formControlName="icao" />
        <label for="icao">ICAO</label>
      </p-floatLabel>

      <!-- State -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="state" formControlName="state" />
        <label for="state">State</label>
      </p-floatLabel>

      <!-- Fire Category -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="fireCategory" formControlName="fireCategory" />
        <label for="fireCategory">Fire Category</label>
      </p-floatLabel>

      <div class="lg:col-span-4 lg:block hidden"></div>

      <!-- Winter WH -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="winterWh" formControlName="winterWh" />
        <label for="winterWh">Winter WH</label>
      </p-floatLabel>

      <!-- Summer WH -->
      <p-floatLabel
        class="custom-float-label-field lg:col-span-4 md:col-span-6 col-span-12"
      >
        <input pInputText id="summerWh" formControlName="summerWh" />
        <label for="summerWh">Summer WH</label>
      </p-floatLabel>

      <div class="flex justify-end lg:col-span-4 col-span-12">
        <p-button type="save" label="SAVE" class="save-button" />
      </div>
    </form>
  </section>

  <section class="table-section custom-card">
    <p class="title">Airport List</p>
    <app-custom-table
      [tableData]="airportInfoData"
      [tableColumns]="columns"
    ></app-custom-table>
  </section>
</main>
