#LogbookDefinationsPage {
  .table-header-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .search-container {
      display: flex;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      background-color: #f5f5f5;
      width: 234px !important;

      .search-input {
        flex-grow: 1;
        font-size: 12px;
        font-weight: 300;
        background-color: transparent;
        outline: none !important;
      }

      .search-icon {
        width: 12px;
      }
    }
  }

  .action-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icon-action {
    width: 14px;
    height: 14px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }

  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 740px;

    .title {
      border-bottom: 1px solid #4f4f4f; 
      padding-bottom: 8px; 
    }

    .popup-header {
      font-size: 16px;
      color: #4f4f4f;
      display: flex; 
      gap: 20px; 
      align-items: center; 
    
      p {
        font-size: 14px;
        color: #4f4f4f;
        margin: 0;
      }
    }

    .custom-textarea {
      width: 100%;
      border: 1px solid #4f4f4f;
      border-radius: 8px;
      padding: 12px;
      background-color: #F5F5F5;

    }

    .popup-footer {
      display: flex;
      justify-content: flex-end;

      .submit-button {
        width: 145px;
        background-color: #feb914;
        color: #1F252C;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

::ng-deep {
  #LogbookDefinationsPage {  
    .custom-dialog-container {
      .p-dialog {
        background-color: #fbfbfb;
        border-radius: 8px;
  
        .p-dialog-header,
        .p-dialog-content,
        .p-dialog-footer {
          background-color: transparent;
        }
      
      }

    }
  
    .p-confirm-dialog .p-dialog-footer {
      display: flex;
    }
  }
}
