<main id="LogbookDefinationsPage">
  <section class="table-header-section">
    <span class="header-title">Logbook List</span>
    <p-dropdown
      [options]="statusOptions"
      [(ngModel)]="selectedPeriod"
      optionLabel="label"
      optionValue="value"
      class="custom-dropdown period-dropdown"
      placeholder="Status"
    ></p-dropdown>
  </section>

  <section class="table-section custom-card">
    <p-table
      [value]="logbookData"
      [columns]="columns"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of columns">{{ column.header }}</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ rowData.crewNameSurname }}</td>
          <td>{{ rowData.companyId }}</td>
          <td>{{ rowData.uploadDate }}</td>
          <td>{{ rowData.aircraftType }}</td>
          <td>{{ rowData.aircraftReg }}</td>
          <td>{{ rowData.status }}</td>
          <td>{{ rowData.updateDate }}</td>
          <td>{{ rowData.comment }}</td>
          <td>{{ rowData.reviewedBy }}</td>
          <td><i class="pi pi-eye"></i></td>
          <td><i class="pi pi-pen-to-square"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>
