<div id="route-details-modal">
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    header="Route Details"
    [style]="{ width: '1200px' }"
    (onHide)="closeModal()"
  >
    <ng-template #noteStatusTemplate let-rowData="rowData" let-col="col">
      <i
        class="pi"
        [ngClass]="
          rowData.note
            ? 'pi-check-circle text-green-500'
            : 'pi-circle text-gray-300'
        "
      ></i>
      <span *ngIf="rowData.note" class="ml-2">
        {{ rowData.note }}
      </span>
    </ng-template>

    <section class="table-section custom-card mt-5">
      <app-custom-table
        [tableData]="routeDetailsContentData()"
        [tableColumns]="routeDetailsModalColumns"
        [tableLoading]="tableLoading()"
        [isPaginator]="false"
      ></app-custom-table>
    </section>
  </p-dialog>
</div>
