<div id="route-details-modal">
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    header="Route Details"
    [style]="{ width: '1200px' }"
    (onHide)="closeModal()"
  >
    <section class="table-section custom-card mt-5">
      <app-custom-table
        [tableData]="routeDetailsModalData"
        [tableColumns]="routeDetailsModalColumns"
                [isPaginator]="false"

      ></app-custom-table>
    </section>
  </p-dialog>
</div>

