<div id="crew-info-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Crew Information</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          #searchInput
          [(ngModel)]="searchInputValue"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <!-- Table -->
  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="crewInformationContentData()"
      [tableColumns]="columns()"
      [totalRecords]="crewInformationData()?.totalElements || 0"
      [tableLoading]="tableLoading()"
      (lazyLoadEvent)="lazyLoadEvent($event)"
    ></app-custom-table>
  </section>
</div>


<ng-template #passStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.pass === true,
      'pi-times-circle text-red-500': rowData.pass === false
    }"
  ></i>
</ng-template>
