#layout {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffff;

    .toolbar-left {
      display: flex;
      align-items: center;
      .welcome-title,
      .welcome-subtitle {
        color: #4f4f4f;
      }
    }

    .toolbar-right {
      display: flex;
      align-items: center;
      padding: 10px 0 0 0;
      gap: 20px;

      .profile-avatar-container {
        position: relative;

        .profile-avatar {
          width: 47px;
          height: 47px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .role {
        font-size: 14px;
      }

      .pi-sign-out {
        margin-left: 1rem;
        color: #6b7280;
      }
    }
  }
}

::ng-deep {
  #layout {
    .mobile-sidebar-menu {
      .p-sidebar-header {
        display: none;
      }
    }

    .p-menubar {
      display: block !important;
    }

    .p-menubar-root-list {
      display: block;
    }

    .hamburger-menu-button {
      padding-right: 10px;
      .p-button {
        background-color: transparent !important;
        color: #4f4f4f;
        border: none;
      }
    }
  }
}
