<main id="layout">
  <div class="grid grid-flow-col gap-5">
    <div class="col-span-1">
      <div class="sidebar-menu-container">
        <!-- Menu Header -->
        <div class="sidebar-menu-header">
          <img
            src="/images/pegasus_logo.svg"
            alt="Pegasus Logo"
            class="pegasus-logo"
          />
        </div>

        <!-- Menu Content -->
        <div class="sidebar-menu-content">
          @for (menuItem of menuItems; track $index) {
            <div class="menu-item-container">
              @if (menuItem.items) {
                <p-panel
                  *ngIf="menuItem.items"
                  [collapsed]="true"
                  [toggleable]="true"
                  class="w-full d-flex align-middle justify-center"
                  expandIcon="pi pi-angle-up"
                  collapseIcon="pi pi-angle-down"
                >
                  <ng-template pTemplate="header">
                    <a pRipple class="menu-item">
                      <img
                        src="/icons/{{ menuItem.icon }}"
                        alt="{{ menuItem.label }}"
                        class="icon-class"
                      />
                      <span class="ml-2">{{ menuItem.label }}</span>
                    </a>
                  </ng-template>

                  @for (subMenuItem of menuItem.items; track $index) {
                    <a
                      pRipple
                      class="submenu-item"
                      routerLink="/{{ subMenuItem.path }}"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                    >
                      <img
                        src="/icons/{{ subMenuItem.icon }}"
                        alt="{{ subMenuItem.label }}"
                        class="icon-class"
                      />
                      <span class="ml-2">{{ subMenuItem.label }}</span>
                    </a>
                  }
                </p-panel>
              } @else {
                <a
                  *ngIf="!menuItem.items"
                  pRipple
                  class="menu-item"
                  routerLink="/{{ menuItem.path }}"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <img
                    src="/icons/{{ menuItem.icon }}"
                    alt="{{ menuItem.label }}"
                    class="icon-class"
                  />
                  <span class="ml-2">{{ menuItem.label }}</span>
                </a>
              }
            </div>
          }
        </div>

        <div class="sidebar-menu-footer">
          <a
            pRipple
            class="menu-item"
            routerLink="/management"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <img
              src="/icons/managament-icon.svg"
              alt="Management"
              class="icon-class"
            />
            <span class="ml-2">Management</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-span-11">
      <div class="toolbar flex">
        <div class="toolbar-left">
          <h2 class="welcome-title text-xl font-bold">Welcome Dominic!</h2>
          <p class="welcome-subtitle text-sm text-gray-600">
            How are you today?
          </p>
        </div>

        <div class="toolbar-right flex">
          <div class="profile-avatar-container">
            <p-avatar
              image="/images/profile.png"
              shape="circle"
              class="profile-avatar"
            ></p-avatar>
          </div>
          <span class="role">Captain</span>
          <i class="pi pi-sign-out"></i>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</main>
