<main id="LogbookDetailPage">
  <section class="table-header-section w-full">
    <app-custom-breadcrumb [breadCrumbItems]="breadcrumbItems" class="w-full" />
    <div class="flex justify-end items-center w-full gap-6">
      <div class="date-range-picker">
        <p-calendar
          [(ngModel)]="dateRange"
          selectionMode="range"
          [showIcon]="false"
          placeholder="Start Date - End Date"
          dateFormat="dd/mm/yy"
          class="custom-icon-field date-range-picker"
        ></p-calendar>
      </div>

      <div class="search-container">
        <input
          type="text"
          placeholder="Crew Name&Surname / Company ID"
          class="search-input"
          [(ngModel)]="searchQuery"
        />
        <i class="pi pi-search search-icon"></i>
      </div>

      <div class="dropdown-container">
        <p-dropdown
          [options]="statusOptions"
          [(ngModel)]="selectedPeriod"
          optionLabel="label"
          optionValue="value"
          class="custom-dropdown period-dropdown"
          placeholder="Status"
        ></p-dropdown>
      </div>
    </div>
  </section>

  <section>
    <div class="flex items-center justify-between">
      <div class="text-[12px]">
        <p class="font-bold">December 2024</p>
        <span class="font-bold">Crew Name&Surname / Company ID:</span>
        <span class="ml-2">{{ crewListTableData?.crewNameSurname }}</span>
      </div>

      <div class="button-group flex items-center gap-4">
        <button
          pButton
          type="button"
          label="Approve"
          [disabled]="selectedCheckbox.length <= 0"
          (click)="onApprove()"
        ></button>
        <button
          pButton
          type="button"
          label="Reject"
          [disabled]="
            selectedCheckbox.length > 1 || selectedCheckbox.length <= 0
          "
          (click)="displayRejectPopup = true"
        ></button>
      </div>
    </div>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="logbookDetailData"
      [tableColumns]="columns"
      selectionMode="multiple"
      (selectedCheckbox)="selectionCheckbox($event)"
    ></app-custom-table>
  </section>

  <p-dialog
    [(visible)]="displayRejectPopup"
    [modal]="true"
    [draggable]="false"
    class="custom-dialog-container"
  >
    <div class="popup-content">
      <!-- Başlık ve Alt Bilgiler -->
      <p class="title">Upload Reason</p>
      <div class="popup-header">
        <p><b>Date:</b> {{ selectedCheckbox[0]?.date }}</p>
        <p><b>A/C Type:</b> {{ selectedCheckbox[0]?.aircraftType }}</p>
        <p><b>A/C Reg:</b> {{ selectedCheckbox[0]?.aircraftReg }}</p>
      </div>

      <!-- Giriş Alanı -->
      <textarea
        [(ngModel)]="rejectReason"
        placeholder="Enter reason"
        class="custom-textarea"
        rows="5"
        maxlength="100"
      ></textarea>

      <!-- Footer Alanı -->
      <div class="popup-footer">
        <button
          type="button"
          pButton
          label="Submit"
          (click)="submitRejectReason()"
          class="submit-button"
        ></button>
      </div>
    </div>
  </p-dialog>

  <p-confirmDialog class="custom-confirm-dialog-container"></p-confirmDialog>
</main>

<!-- Table Cell Templates -->
<ng-template #previewCellBodyTemplate>
  <i class="pi pi-eye"></i>
</ng-template>

<ng-template #editableCellBodyTemplate let-rowData="rowData">
  <i
    class="pi pi-pen-to-square"
    (click)="goToLogBookDetailEditPage(rowData)"
  ></i>
</ng-template>
