<p-toast></p-toast>
<main id="LogbookDetailPage">
  <section class="flex justify-between items-center w-full mb-3">
    <app-custom-breadcrumb [breadCrumbItems]="breadcrumbItems" />
    <div class="w-[160px]">
      <p-select
        [(ngModel)]="statusFilter"
        [options]="statusOptions()"
        placeholder="Status"
        class="custom-dropdown w-full"
        (ngModelChange)="getDetailedList()"
      />
    </div>
  </section>

  <section>
    <div class="flex items-center justify-between">
      <div class="text-[12px]">
        <p class="font-bold">
          {{ this.crewListTableData.yearMonth | date: "MMMM YYYY" }}
        </p>
        <span class="font-bold">Crew Name&Surname / Company ID:</span>
        <span class="ml-2"
          >{{ crewListTableData.crewNameSurname }} /
          {{ crewListTableData.companyId }}</span
        >
      </div>

      <div class="button-group flex items-center gap-4">
        <button
          pButton
          type="button"
          label="Approve"
          [disabled]="selectedCheckbox().length <= 0"
          (click)="onApprove()"
        ></button>
        <button
          pButton
          type="button"
          label="Reject"
          [disabled]="
            selectedCheckbox().length > 1 || selectedCheckbox().length <= 0
          "
          (click)="displayRejectPopup = true"
        ></button>
      </div>
    </div>
  </section>

  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="logbookDetailTableData()"
      [tableColumns]="columns"
      dataKeyId="logId"
      selectionMode="multiple"
      [totalRecords]="logbookDetailData()?.logbookDetails?.totalElements || 0"
      [tableLoading]="tableLoading"
      [footerTemplate]="tableFooterTemplate"
      (selectedCheckbox)="selectionCheckbox($event)"
      (pageEvent)="onPageChange($event)"
    ></app-custom-table>
  </section>

  <p-dialog
    [(visible)]="displayRejectPopup"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    class="custom-confirm-dialog-container reject-reason-dialog"
  >
    <div class="popup-content">
      <!-- Header -->
      <p class="title">Upload Reason</p>

      @if (selectedCheckbox()[0]) {
        <div class="popup-info">
          <p><b>Date:</b> {{ selectedCheckbox()[0].date }}</p>
          <p><b>A/C Type:</b> {{ selectedCheckbox()[0].aircraftType }}</p>
          <p><b>A/C Reg:</b> {{ selectedCheckbox()[0].aircraftReg }}</p>
        </div>
      }

      <!-- Content -->
      <textarea
        [(ngModel)]="rejectReason"
        placeholder="Enter reason"
        class="reject-reason-textarea"
        rows="5"
        maxlength="500"
      ></textarea>

      <!-- Footer -->
      <div class="popup-footer">
        <button
          type="button"
          pButton
          label="Submit"
          [disabled]="rejectReason.length <= 0"
          class="submit-button"
          (click)="onSubmitRejectReason()"
        ></button>
      </div>
    </div>
  </p-dialog>

  <p-confirmDialog
    styleClass="custom-confirm-dialog-container"
  ></p-confirmDialog>

  <app-detail-modal
    [visible]="displayPreviewDialog()"
    [detailedListRowData]="detailedListPreviewModalData()"
    (closeModal)="togglePreviewDialog()"
  ></app-detail-modal>
</main>

<!-- Table Templates -->
<ng-template #dateColumnTemplate let-rowData="rowData">
  {{ rowData.date | date: "dd/MM/YYYY" }}
</ng-template>

<ng-template #updatedDateColumnTemplate let-rowData="rowData">
  {{ rowData.updatedDate | date: "dd/MM/YYYY - hh:mm" }}
</ng-template>

<ng-template #previewCellBodyTemplate let-rowData="rowData">
  <i
    class="pi pi-eye cursor-pointer"
    (click)="togglePreviewDialog(rowData)"
  ></i>
</ng-template>

<ng-template #commentColumnTemplate let-rowData="rowData">
  <div class="comment-cell">
    <span
      pTooltip="{{ rowData.uploadReason }}"
      tooltipPosition="top"
      tooltipStyleClass="comment-context-tooltip"
      [escape]="false"
      [autoHide]="false"
      [tooltipDisabled]="rowData.uploadReason?.length <= maxCharCount"
    >
      {{ rowData.uploadReason || "-" | truncateText: maxCharCount }}
    </span>
  </div>
</ng-template>

<ng-template #editableCellBodyTemplate let-rowData="rowData">
  <i
    class="pi pi-pen-to-square cursor-pointer"
    (click)="goToLogBookDetailEditPage(rowData)"
  ></i>
</ng-template>

<ng-template #tableFooterTemplate>
  <tr>
    <td colspan="8" class="!text-right font-bold p-3 pb-0">Page Total</td>
    <td colspan="9" class="font-bold p-3 pb-0">
      {{ logbookDetailData()?.currentPageTotal || "-" }}
    </td>
  </tr>

  <!-- This data should only be shown on the last pages -->
  <tr
    *ngIf="logbookDetailData()?.logbookDetails?.totalPages == currentPage + 1"
  >
    <td colspan="8" class="!text-right font-bold p-3 pb-0">
      Previous Page Total
    </td>
    <td colspan="9" class="font-bold p-3 pb-0">
      {{ logbookDetailData()?.previousPagesTotal || "-" }}
    </td>
  </tr>

  <!-- This data should only be shown on the last pages -->
  <tr
    *ngIf="logbookDetailData()?.logbookDetails?.totalPages == currentPage + 1"
  >
    <td colspan="8" class="!text-right font-bold p-3 pb-0">Total</td>
    <td colspan="9" class="font-bold p-3 pb-0">
      {{ logbookDetailData()?.allPagesTotal || "-" }}
    </td>
  </tr>
</ng-template>
