<p-toast></p-toast>
<main id="LogbookDetailPage">
  <section class="flex justify-between items-center w-full mb-3">
    <app-custom-breadcrumb [breadCrumbItems]="breadcrumbItems" />
    <form [formGroup]="filterFormGroup" (ngSubmit)="onFilterSubmit()">
      <div class="flex justify-end items-center w-full gap-6">
        <!-- Date Picker -->
        <div class="w-[122px]">
          <p-datepicker
            formControlName="dateRange"
            selectionMode="range"
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            placeholder="Start Date - End Date"
            class="custom-calendar"
          />
        </div>

        <div class="w-[122px]">
          <p-select
            [options]="statusOptions()"
            formControlName="status"
            placeholder="Status"
            class="custom-dropdown w-full"
          />
        </div>

        <p-button
          type="submit"
          icon="pi pi-search"
          [rounded]="true"
          class="filter-submit-btn"
        />
      </div>
    </form>
  </section>

  <section>
    <div class="flex items-center justify-between">
      <div class="text-[12px]">
        <p class="font-bold">{{ dateTitleTemplate() }}</p>
        <span class="font-bold">Crew Name&Surname / Company ID:</span>
        <span class="ml-2"
          >{{ crewListTableData.crewNameSurname }} /
          {{ crewListTableData.companyId }}</span
        >
      </div>

      <div class="button-group flex items-center gap-4">
        <button
          pButton
          type="button"
          label="Approve"
          [disabled]="selectedCheckbox().length <= 0"
          (click)="onApprove()"
        ></button>
        <button
          pButton
          type="button"
          label="Reject"
          [disabled]="
            selectedCheckbox().length > 1 || selectedCheckbox().length <= 0
          "
          (click)="displayRejectPopup = true"
        ></button>
      </div>
    </div>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="logbookDetailTableData()"
      [tableColumns]="columns"
      dataKeyId="logId"
      selectionMode="multiple"
      [totalRecords]="logbookDetailData()?.logbookDetails?.totalElements || 0"
      [tableLoading]="tableLoading"
      (selectedCheckbox)="selectionCheckbox($event)"
      (pageEvent)="onPageChange($event)"
    ></app-custom-table>
  </section>

  <p-dialog
    [(visible)]="displayRejectPopup"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    class="custom-confirm-dialog-container"
  >
    <div class="popup-content">
      <!-- Header -->
      <p class="title">Upload Reason</p>

      @if (selectedCheckbox()[0]) {
        <div class="popup-header">
          <p><b>Date:</b> {{ selectedCheckbox()[0].date }}</p>
          <p><b>A/C Type:</b> {{ selectedCheckbox()[0].aircraftType }}</p>
          <p><b>A/C Reg:</b> {{ selectedCheckbox()[0].aircraftReg }}</p>
        </div>
      }

      <!-- Content -->
      <textarea
        [(ngModel)]="rejectReason"
        placeholder="Enter reason"
        class="custom-textarea"
        rows="5"
        maxlength="500"
      ></textarea>

      <!-- Footer -->
      <div class="popup-footer">
        <button
          type="button"
          pButton
          label="Submit"
          (click)="onSubmitRejectReason()"
          class="submit-button"
        ></button>
      </div>
    </div>
  </p-dialog>

  <p-confirmDialog class="custom-confirm-dialog-container"></p-confirmDialog>

  <app-detail-modal
    [visible]="displayPreviewDialog()"
    [detailedListRowData]="detailedListPreviewModalData()"
    (closeModal)="togglePreviewDialog()"
  ></app-detail-modal>
</main>

<!-- Table Cell Templates -->
<ng-template #updatedDateCellBodyTemplate let-rowData="rowData">
  {{ updatedDateTemplate(rowData) }}
</ng-template>

<ng-template #previewCellBodyTemplate let-rowData="rowData">
  <i
    class="pi pi-eye cursor-pointer"
    (click)="togglePreviewDialog(rowData)"
  ></i>
</ng-template>

<ng-template #editableCellBodyTemplate let-rowData="rowData">
  <i
    class="pi pi-pen-to-square cursor-pointer"
    (click)="goToLogBookDetailEditPage(rowData)"
  ></i>
</ng-template>
