#LogbookDetailPage {

  .reject-reason-dialog {
    .popup-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      width: 740px;

      .title {
        border-bottom: 1px solid #4f4f4f;
        padding-bottom: 8px;
      }

      .popup-info {
        font-size: 16px;
        color: #4f4f4f;
        display: flex;
        gap: 20px;
        align-items: center;

        p {
          font-size: 14px;
          color: #4f4f4f;
          margin: 0;
        }
      }

      .reject-reason-textarea {
        width: 100%;
        border: 1px solid #4f4f4f;
        border-radius: 8px;
        padding: 12px;
        background-color: #f5f5f5;
      }

      .popup-footer {
        display: flex;
        justify-content: flex-end;

        .submit-button {
          width: 145px;
          background-color: #feb914;
          color: #1f252c;
          border: none;
          border-radius: 8px;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

::ng-deep {
  #LogbookDetailPage {
    .p-confirm-dialog .p-dialog-footer {
      display: flex;
    }

    .button-group {
      .p-button-label {
        font-weight: 400;
      }
    }

    // Table checbox style
    .p-checkbox-checked .p-checkbox-box {
      background: #feb914;
      border-color: #feb914;
    }

    .p-checkbox-box {
      width: 14px;
      height: 14px;
      border-radius: 2px;
      border: 1px solid #9a9a9a;
      transition: all 0.3s ease;
      outline: none !important;
      box-shadow: none;

      .p-checkbox-icon {
        color: white;
        font-size: 8px;
      }
    }
  }

  .comment-context-tooltip {
    .p-tooltip-text {
      background-color: #fff !important;
      color: #444444;
    }

    .p-tooltip-arrow {
      border-top-color: #fff;
      border-bottom-color: #fff;
    }
  }
}
