<section id="TopAlternateRoutesCardComponent" class="lg:h-[375px] h-full">
  <div class="chart-container">
    <div class="flex item-center gap-3">
      <p class="text-sm font-bold mb-6">Top 5 Alternate Routes</p>
      <div *ngIf="topAlternatesCardLoading()">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
      </div>
    </div>

    <div *ngIf="!topAlternatesCardLoading()" class="chart-box-alternate-routes">
      <app-custom-bar-chart [data]="chartData()" [options]="chartOptions" />
    </div>
  </div>
</section>
