<div id="TopAlternateRoutesCardComponent" class="lg:h-[482px] h-full">
    <div class="chart-container">

      <div class="header-box">
        <div class="title-alternate">Top 5 Alternate Routes</div>
        <div class="dropdown">
          <select>
            <option>Daily</option>
          </select>
        </div>
      </div>

      <div class="chart-box-alternate-routes">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptionsAlternateRoutes"
          style="width: 100%; height: 300px; display: block;"
        ></highcharts-chart>
      </div>

    </div>
  </div>