#CrewListPage {
  .chart-panel-section {
    .line-chart-container {
      .chart-label {
        font-size: 12px;
        color: #4F4F4F;
      }
      .chart-description {
        font-size: 24px;
        font-weight: 300;
        color: #4F4F4F;
      }
    }
  }
}

::ng-deep {
  #CrewListPage {
    .chart-panel-section {
      .p-panel .p-panel-header {
        background-color: transparent;
      }
      .p-panel-expanded .p-panel-header {
        border-bottom: none;
      }

      .line-chart-container {
          .duty-chart {
            .p-slider {
              .p-slider-range {
                background-color: #9F86C0;
              }
            }
          }
  
          .time-chart {
            .p-slider {
              .p-slider-range {
                background-color: #4F772D;
              }
            }
          }
  
          .duty-chart, .time-chart {
            .p-slider {
              background-color: #F5F5F5;
              cursor: default;
              pointer-events: none;
  
              .p-slider-range {
                border-radius: 20px;
              }
        
              .p-slider-handle {
                display: none;
              }
            }
          }
      }
    }
  }
}
