#crew-list-page {
  .chart-panel-section {
    .total-card-content {
      display: flex;
      align-items: center;
      gap: 70px;

      .total-card-item-label {
        font-size: 24px;
        color: #4f4f4f;
      }

      .total-card-item-count {
        font-size: 32px;
        font-weight: 700;
        color: #4f4f4f;
        margin-right: 5px;
      }
    }
  }
}

::ng-deep {
  #crew-list-page {
    .chart-panel-section {
      .p-panel .p-panel-header {
        background-color: transparent;
      }
      .p-panel-expanded .p-panel-header {
        border-bottom: none;
      }
    }

    .crew-tabs {
      .p-tablist {
        .p-tab {
          color: #666;
          font-size: 12px;

          &:hover {
            color: #000;
          }
        }

        .p-tablist-active-bar {
          background: #f4b400 !important;
          height: 3px;
        }
      }
    }
  }
}
