<section id="LayoutMenuComponent">
  <p-menubar
    [model]="menuItems"
    class="layout-menubar"
    [autoDisplay]="true"
    [autoHide]="true"
  >
    <ng-template #start>
      <a routerLink="/">
        <img
          src="/images/pegasus_logo.svg"
          alt="Pegasus Logo"
          class="menu-logo"
        />
      </a>
    </ng-template>

    <ng-template #item let-item let-root="root" class="flex">
      <a
        pRipple
        [routerLink]="item.path === '' ? '/' : '/' + item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex align-items-center p-menubar-item-link"
        [ngClass]="{
          'submenu-item': root === false,
          'mainmenu-item': root === true,
        }"
      >
        <img
          *ngIf="item.icon"
          [src]="'/icon/' + item.icon"
          [alt]="item.label"
          class="menu-item-icon"
        />

        <span class="menu-item-label">{{ item.label }}</span>
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-up ml-2' : 'pi-angle-right ml-auto',
          ]"
        ></i>
      </a>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center gap-5">
        <div *ngIf="profilePhotoUrl" class="profile-avatar">
          <p-avatar [image]="profilePhotoUrl" shape="circle"></p-avatar>
        </div>
        <span class="text-sm">{{ username }}</span>

        <i class="pi pi-sign-out cursor-pointer" (click)="logout()"></i>
      </div>
    </ng-template>
  </p-menubar>
</section>
