#LayoutMenuComponent {
  .layout-menubar {
    .menu-logo {
      margin-right: 10px;
    }

    .p-menubar-item-link {
      &:hover,
      &.active {
        background-color: #fffbed;
        .menu-item-label {
          color: #fed447;
        }
        .menu-item-icon {
          color: #fed447;
          filter: invert(97%) sepia(22%) saturate(7475%) hue-rotate(320deg)
            brightness(105%) contrast(99%);
        }
      }
      .menu-item-label {
        font-size: 12px;
      }

      .menu-item-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}

::ng-deep {
  #LayoutMenuComponent {
    .layout-menubar {
      .p-menubar {
        padding: 10px 20px 10px 20px;

        .p-menubar-button {
          color: black;
        }

        .p-menubar:not(.p-highlight):not(.p-disabled).p-focus
          > .p-menubar-content {
          background-color: transparent;
        }
      }

      .profile-avatar {
        .p-avatar {
          width: 47px;
          height: 47px;
          border: 2px solid #fed447;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .p-menubar-root-list {
        gap: 1;
      }
    }
  }
}
