::ng-deep {
  #LayoutMenuComponent {
    .layout-menubar {
      .p-menubar {
        padding: 10px 20px;

        .p-menubar-button {
          color: black;
        }

        &:not(.p-highlight):not(.p-disabled).p-focus > .p-menubar-content {
          background-color: transparent;
        }

        .p-menubar-root-list {
          gap: 1;

          > .p-menubar-item {
            > .p-menubar-item-content,
            &:hover > .p-menubar-item-content,
            &.p-highlight > .p-menubar-item-content {
              background: transparent !important;
              box-shadow: none !important;
            }
          }
        }
      }

      .p-menubar-item-link {
        background: transparent !important;
        box-shadow: none !important;

        &:hover,
        &.active {
          &.mainmenu-item {
            background-color: #fdf2dc !important;
            border-radius: 44px;

            .menu-item-label {
              color: #0d0f11;
              font-weight: 600;
            }
          }

          &.submenu-item {
            background-color: #f4f6f8;

            .menu-item-label {
              font-weight: 400;
            }
          }
        }

        .menu-item-label {
          font-size: 14px;
        }

        .menu-item-icon {
          width: 16px;
          height: 16px;
        }
      }

      .menu-logo {
        margin-right: 10px;
      }

      .profile-avatar {
        .p-avatar {
          width: 47px;
          height: 47px;
          border: 2px solid #fed447;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
