#LogbookDetailEditPage {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .button-group {
      display: flex;
      gap: 10px;
    }
    button {
      background-color: #feb914;
      border: none;
      font-size: 14px;
      border-radius: 5px;
      width: 72px;
      height: 32px;
      cursor: pointer;
    }
  }

  .form-section {
    margin-bottom: 20px;

    .title {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      color: #8e8e8e;
    }

    .custom-float-label-field {
      text-align: left;
    }
  }

  .custom-card {
    .form-cards-title {
      color: #8e8e8e;
    }
  }
}
