<p-toast></p-toast>
<main id="LogbookDetailEditPage">
  <!-- Header -->
  <section class="page-header">
    <div class="grid grid-cols-12 items-center gap-4">
      <app-custom-breadcrumb
        [breadCrumbItems]="breadcrumbItems"
        class="lg:col-span-6 md:col-span-6 col-span-12"
      />

      <div
        class="lg:col-span-6 md:col-span-6 col-span-12 flex lg:justify-end md:justify-end"
      >
        <div class="flex gap-3">
          <button
            *ngIf="isEditMode()"
            pButton
            type="button"
            label="Cancel"
            class="cancel-button"
            (click)="onCancel()"
          ></button>

          <button
            pButton
            type="button"
            [label]="isEditMode() ? 'Save' : 'Edit'"
            [disabled]="
              logbookFormGroup.invalid ||
              editDefaultData()?.status === 'APPROVED'
            "
            class="save-button"
            (click)="isEditMode() ? onSave() : toggleEditMode()"
          ></button>
        </div>
      </div>
    </div>
  </section>

  <!-- Form -->
  <section class="form-section mt-4 mb-5">
    <form [formGroup]="logbookFormGroup">
      <section class="custom-card">
        <div class="flex items-center gap-5">
          <p class="title">Flight</p>
          <p-progressSpinner
            *ngIf="formDataLoading()"
            ariaLabel="loading"
            strokeWidth="8"
            ngClass="flex justify-center"
            styleClass="w-[20px] h-[20px]"
          />
        </div>

        <!-- Summary -->
        <div class="summary-container grid grid-cols-12 lg:gap-0 gap-4 mt-5">
          <!-- Crew Name -->
          <div class="summary-box lg:col-span-2 md:col-span-3 col-span-6">
            <p class="summary-title">Crew Name & Surname</p>
            <p class="summary-value">{{ editDefaultData()?.crewName }}</p>
          </div>

          <!-- Company ID -->
          <div class="summary-box lg:col-span-2 md:col-span-3 col-span-6">
            <p class="summary-title">Company ID</p>
            <p class="summary-value">{{ editDefaultData()?.companyId }}</p>
          </div>

          <!-- Updated Date -->
          <div class="summary-box lg:col-span-2 md:col-span-3 col-span-6">
            <p class="summary-title">Updated Date</p>
            <p class="summary-value">
              {{ editDefaultData()?.updatedDate | date: "dd/MM/YYYY" }}
            </p>
          </div>

          <!-- A/C Type -->
          <div class="summary-box lg:col-span-2 md:col-span-3 col-span-6">
            <p class="summary-title">A/C Type</p>
            <p class="summary-value">{{ editDefaultData()?.aircraftType }}</p>
          </div>

          <!-- A/C Reg -->
          <div class="summary-box lg:col-span-2 md:col-span-3 col-span-6">
            <p class="summary-title">A/C Reg</p>
            <p class="summary-value">{{ editDefaultData()?.aircraftReg }}</p>
          </div>

          <!-- Status -->
          <div class="summary-box lg:col-span-2 md:col-span-3 col-span-6">
            <p class="summary-title">Status</p>
            <p class="summary-value">
              {{ statusTemplate(editDefaultData()?.status) }}
            </p>
          </div>
        </div>

        <hr class="mt-5 mb-5" />

        <div class="grid grid-cols-12 gap-5 mt-5 text-center">
          <!-- Duty Type -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input pInputText id="dutyType" formControlName="dutyType" />
              <label for="dutyType">Duty Type</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'dutyType',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.dutyType
                  ),
                }
              "
            />
          </div>

          <!-- Aircraft Type -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input
                pInputText
                id="aircraftType"
                formControlName="aircraftType"
              />
              <label for="aircraftType">Aircraft Type</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'aircraftType',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.aircraftType
                  ),
                }
              "
            />
          </div>

          <!-- Date -->
          <div class="col-span-6 form-item-container">
            <p-floatlabel variant="on" class="custom-float-label-field w-full">
              <p-datepicker
                inputId="date"
                formControlName="date"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                class="custom-calendar datepicker"
              />

              <ng-container
                *ngTemplateOutlet="
                  historyTooltipIcon;
                  context: {
                    fieldName: 'date',
                    data: generateHistoryTooltip(
                      editDefaultData()?.changes?.date
                    ),
                  }
                "
              />
              <label for="date">Date</label>
            </p-floatlabel>
          </div>

          <!-- Aircraft Reg -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input
                pInputText
                id="aircraftReg"
                formControlName="aircraftReg"
              />
              <label for="aircraftReg">Aircraft Reg</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'aircraftReg',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.aircraftReg
                  ),
                }
              "
            />
          </div>

          <!-- Departure -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input
                pInputText
                pKeyFilter="alpha"
                id="departure"
                formControlName="departure"
                maxlength="3"
                (input)="onInputUpperCase($event, 'departure')"
              />
              <label for="departure">Departure</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'departure',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.departure
                  ),
                }
              "
            />
          </div>

          <!-- Arrival -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input
                pInputText
                pKeyFilter="alpha"
                id="arrival"
                formControlName="arrival"
                maxlength="3"
                (input)="onInputUpperCase($event, 'arrival')"
              />
              <label for="arrival">Arrival</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'arrival',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.arrival
                  ),
                }
              "
            />
          </div>

          <!-- Departure Time -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask mask="99:99" formControlName="departureTime" />
              <label for="departureTime">Departure Time</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'departureTime',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.departureTime
                  ),
                }
              "
            />
          </div>

          <!-- Arrival Time -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask mask="99:99" formControlName="arrivalTime" />
              <label for="arrivalTime">Arrival Time</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'arrivalTime',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.arrivalTime
                  ),
                }
              "
            />
          </div>

          <!-- SE / ME -->
          <div class="col-span-6 form-item-container">
            <div class="grid grid-cols-2 gap-2 w-full relative">
              <!-- SE -->
              <div
                class="radio-button-container"
                [ngClass]="{
                  'radio-button-container-disabled': logbookFormGroup.disabled,
                }"
              >
                <label for="se">SE</label>
                <p-radioButton
                  name="engineType"
                  value="SE"
                  formControlName="engineType"
                  inputId="se"
                  class="custom-radio-button"
                />
              </div>

              <!-- ME -->
              <div
                class="radio-button-container"
                [ngClass]="{
                  'radio-button-container-disabled': logbookFormGroup.disabled,
                }"
              >
                <label for="me">ME</label>
                <p-radioButton
                  name="engineType"
                  value="ME"
                  formControlName="engineType"
                  inputId="me"
                  class="custom-radio-button"
                  [ngClass]="{ 'mr-6': checkCahngedField('engineType') }"
                />
              </div>
            </div>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'engineType',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.engineType
                  ),
                }
              "
            />
          </div>

          <!-- Name PIC -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input pInputText id="pic" formControlName="pic" />
              <label for="pic">Name PIC</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'pic',
                  data: generateHistoryTooltip(editDefaultData()?.changes?.pic),
                }
              "
            />
          </div>

          <!-- Multi Pilot Time -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask mask="99:99" formControlName="multiPilotTime" />
              <label for="multiPilotTime">Multi Pilot Time</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'multiPilotTime',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.multiPilotTime
                  ),
                }
              "
            />
          </div>

          <!-- Total Time -->
          <div class="col-span-6 form-item-container">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask mask="99:99" formControlName="totalTime" />
              <label for="totalTime">Total Time</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'totalTime',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.totalTime
                  ),
                }
              "
            />
          </div>

          <!-- Landing -->
          <div class="lg:col-span-6 md:cols-pan-6 col-span-12">
            <p class="mb-5 flex justify-start">Landing</p>
            <div class="mb-5 grid grid-cols-2 gap-4">
              <!-- Day -->
              <div class="form-item-container">
                <p-floatLabel
                  variant="on"
                  class="custom-float-label-field w-full"
                >
                  <input
                    pInputText
                    id="dayLanding"
                    [value]="editDefaultData()?.landing === 'DAY' ? 1 : '---'"
                    [disabled]="true"
                  />
                  <label for="dayLanding">Day</label>
                </p-floatLabel>
              </div>

              <!-- Night -->
              <div class="form-item-container">
                <p-floatLabel
                  variant="on"
                  class="custom-float-label-field w-full"
                >
                  <input
                    pInputText
                    id="nightLanding"
                    [value]="editDefaultData()?.landing === 'NIGHT' ? 1 : '---'"
                    [disabled]="true"
                  />
                  <label for="nightLanding">Night</label>
                </p-floatLabel>
              </div>
            </div>

            <!-- Instructor -->
            <div class="form-item-container">
              <p-floatLabel
                variant="on"
                class="custom-float-label-field w-full"
              >
                <input
                  pInputText
                  id="instructor"
                  formControlName="instructor"
                />
                <label for="instructor">Instructor</label>
              </p-floatLabel>

              <ng-container
                *ngTemplateOutlet="
                  historyTooltipIcon;
                  context: {
                    fieldName: 'instructor',
                    data: generateHistoryTooltip(
                      editDefaultData()?.changes?.instructor
                    ),
                  }
                "
              />
            </div>
          </div>

          <!-- Remarks -->
          <div class="remarks-field lg:col-span-6 md:cols-pan-6 col-span-12">
            <p>Remarks And Endorsements</p>
            <p>{{ editDefaultData()?.signer }}</p>
            <p>{{ editDefaultData()?.remarksAndEndorsement }}</p>
            <p>{{ editDefaultData()?.syntheticTrainingDescription }}</p>
            <img
              *ngIf="editDefaultData()?.dutyType=== 'SIM'? editDefaultData()?.isSigned : editDefaultData()?.isSignedFlight"
              class="h-[85px] w-[450px] object-cover"
              [src]="convertBase64ToImage()"
              alt="signature"
            />
          </div>
        </div>
      </section>

      <section class="grid grid-cols-12 gap-5 mt-5">
        <!-- Synthetic Training Devices Session -->
        <div class="custom-card lg:col-span-4 md:col-span-6 col-span-12">
          <p class="form-cards-title mb-5">
            Synthetic Training Devices Session
          </p>

          <!-- Date -->
          <div class="form-item-container mb-5">
            <p-floatlabel variant="on" class="custom-float-label-field w-full">
              <p-datepicker
                inputId="syntheticTrainingDate"
                formControlName="syntheticTrainingDate"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                class="custom-calendar datepicker"
              />

              <ng-container
                *ngTemplateOutlet="
                  historyTooltipIcon;
                  context: {
                    fieldName: 'date',
                    data: generateHistoryTooltip(
                      editDefaultData()?.changes?.syntheticTrainingDate
                    ),
                  }
                "
              />
              <label for="syntheticTrainingDate">Date</label>
            </p-floatlabel>
          </div>

          <!-- Type -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <input
                pInputText
                id="type"
                formControlName="syntheticTrainingType"
              />
              <label for="type">Type</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'syntheticTrainingType',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.syntheticTrainingType
                  ),
                }
              "
            />
          </div>

          <!-- Time -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask
                mask="99:99"
                formControlName="syntheticTrainingTime"
              />
              <label for="time">Time</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'syntheticTrainingTime',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.syntheticTrainingTime
                  ),
                }
              "
            />
          </div>
        </div>

        <!-- Pilot Function Time -->
        <div class="custom-card lg:col-span-4 md:col-span-6 col-span-12">
          <p class="form-cards-title mb-5">Pilot Function Time</p>

          <!-- PIC -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask
                mask="99:99"
                id="pilotFunctionPic"
                formControlName="pilotFunctionPic"
              />
              <label for="pilotFunctionPic">PIC</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'pilotFunctionPic',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.pilotFunctionPic
                  ),
                }
              "
            />
          </div>

          <!-- CO-PILOT -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask
                mask="99:99"
                id="pilotFunctionCoPilot"
                formControlName="pilotFunctionCoPilot"
              />
              <label for="pilotFunctionCoPilot">CO-PILOT</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'pilotFunctionCoPilot',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.pilotFunctionCoPilot
                  ),
                }
              "
            />
          </div>

          <!-- Duty -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask
                mask="99:99"
                id="pilotFunctionDual"
                formControlName="pilotFunctionDual"
              />
              <label for="pilotFunctionDual">Duty</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'pilotFunctionDual',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.pilotFunctionDual
                  ),
                }
              "
            />
          </div>
        </div>

        <!-- Operation Condition Time -->
        <div class="custom-card lg:col-span-4 md:col-span-6 col-span-12">
          <p class="form-cards-title mb-5">Operation Condition Time</p>

          <!-- Night -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask mask="99:99" id="night" formControlName="night" />
              <label for="night">Night</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'night',
                  data: generateHistoryTooltip(
                    editDefaultData()?.changes?.night
                  ),
                }
              "
            />
          </div>

          <!-- IFR -->
          <div class="form-item-container mb-5">
            <p-floatLabel variant="on" class="custom-float-label-field w-full">
              <p-inputmask mask="99:99" id="ifr" formControlName="ifr" />
              <label for="ifr">IFR</label>
            </p-floatLabel>

            <ng-container
              *ngTemplateOutlet="
                historyTooltipIcon;
                context: {
                  fieldName: 'ifr',
                  data: generateHistoryTooltip(editDefaultData()?.changes?.ifr),
                }
              "
            />
          </div>
        </div>
      </section>
    </form>
  </section>

  <p-confirmDialog
    styleClass="custom-confirm-dialog-container"
  ></p-confirmDialog>

  <!-- Reject Reason Dialog -->
  <p-dialog
    [(visible)]="displayRejectPopup"
    [modal]="true"
    [draggable]="false"
    class="custom-dialog-container"
    (onHide)="rejectReasonDialogOnHide()"
  >
    <div class="popup-content">
      <!-- Başlık ve Alt Bilgiler -->
      <div class="flex items-center justify-between">
        <p>Upload Reason</p>
        <i
          class="pi pi-times cursor-pointer"
          (click)="displayRejectPopup = false"
        ></i>
      </div>

      <hr class="divider" />

      <div class="popup-header">
        <p><b>Date:</b> {{ editDefaultData()?.date }}</p>
        <p><b>A/C Type:</b> {{ editDefaultData()?.aircraftType }}</p>
        <p><b>A/C Reg:</b> {{ editDefaultData()?.aircraftReg }}</p>
      </div>

      <!-- Giriş Alanı -->
      <textarea
        [(ngModel)]="rejectReason"
        required
        placeholder="Enter reason"
        class="custom-textarea"
        rows="5"
        maxlength="100"
      ></textarea>

      <!-- Footer Alanı -->
      <div class="popup-footer">
        <button
          pButton
          type="button"
          label="Submit"
          [disabled]="rejectReason.length === 0"
          class="submit-button"
          (click)="onSubmitReason()"
        ></button>
      </div>
    </div>
  </p-dialog>

  <ng-template #historyTooltipIcon let-fieldName="fieldName" let-data="data">
    <i
      *ngIf="checkCahngedField(fieldName)"
      class="pi pi-info-circle history-icon"
      [pTooltip]="data"
      tooltipPosition="left"
      [escape]="false"
      [autoHide]="false"
      tooltipStyleClass="history-tooltip"
    >
    </i>
  </ng-template>
</main>
