<p-toast></p-toast>
<main id="LogbookDetailEditPage">
  <!-- Header -->
  <section>
    <div class="page-header">
      <app-custom-breadcrumb [breadCrumbItems]="breadcrumbItems" />

      <button
        pButton
        type="button"
        [label]="isEditMode() ? 'Save' : 'Edit'"
        class="save-button"
        (click)="isEditMode() ? onSave() : toggleEditMode()"
      ></button>
    </div>
  </section>

  <!-- Form -->
  <section class="form-section">
    <form [formGroup]="logbookFormGroup">
      <section class="custom-card">
        <p class="title mb-5">Flight</p>
        <!-- Summary -->
        <div class="grid grid-cols-12 gap-5 text-center">
          <!-- Crew Name -->
          <p-floatLabel class="custom-float-label-field col-span-2">
            <input pInputText [value]="editData.crewName" disabled />
            <label>Crew Name & Surname</label>
          </p-floatLabel>

          <!-- Company ID -->
          <p-floatLabel class="custom-float-label-field col-span-2">
            <input pInputText [value]="editData.companyId" disabled />
            <label>Company ID</label>
          </p-floatLabel>

          <!-- Updated Date -->
          <p-floatLabel class="custom-float-label-field col-span-2">
            <input pInputText [value]="editData.updatedDate" disabled />
            <label>Updated Date</label>
          </p-floatLabel>

          <!-- A/C Type -->
          <p-floatLabel class="custom-float-label-field col-span-2">
            <input pInputText [value]="editData.aircraftType" disabled />
            <label>A/C Type</label>
          </p-floatLabel>

          <!-- A/C Reg -->
          <p-floatLabel class="custom-float-label-field col-span-2">
            <input pInputText [value]="editData.aircraftReg" disabled />
            <label>A/C Reg</label>
          </p-floatLabel>

          <!-- Status -->
          <p-floatLabel class="custom-float-label-field col-span-2">
            <input pInputText [value]="editData.status" disabled />
            <label>Status</label>
          </p-floatLabel>
        </div>

        <div class="mt-5 grid grid-cols-12 gap-5 text-center">
          <!-- Flight Version -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input
              pInputText
              id="flightVersion"
              formControlName="flightVersion"
            />
            <label for="flightVersion">Flight Version</label>
          </p-floatLabel>

          <!-- Aircraft Type -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input
              pInputText
              id="aircraftType"
              formControlName="aircraftType"
            />
            <label for="aircraftType">Aircraft Type</label>
          </p-floatLabel>

          <!-- Date -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="date" formControlName="date" />
            <label for="date">Date</label>
          </p-floatLabel>

          <!-- Aircraft Reg -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="aircraftReg" formControlName="aircraftReg" />
            <label for="aircraftReg">Aircraft Reg</label>
          </p-floatLabel>

          <!-- Departure -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="departure" formControlName="departure" />
            <label for="departure">Departure</label>
          </p-floatLabel>

          <!-- Arrival -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="arrival" formControlName="arrival" />
            <label for="arrival">Arrival</label>
          </p-floatLabel>

          <!-- Departure Time -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="depTime" formControlName="depTime" />
            <label for="depTime">Departure Time</label>
          </p-floatLabel>

          <!-- Arrival Time -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="arrTime" formControlName="arrTime" />
            <label for="arrTime">Arrival Time</label>
          </p-floatLabel>

          <!-- SE / ME -->
          <div class="col-span-6">
            <div class="grid grid-cols-2 gap-2">
              <!-- SE -->
              <div class="radio-button-container">
                <label for="se">SE</label>
                <p-radioButton
                  name="engineType"
                  value="SE"
                  formControlName="engineType"
                  inputId="se"
                />
              </div>

              <!-- ME -->
              <div class="radio-button-container">
                <label for="me">ME</label>
                <p-radioButton
                  name="engineType"
                  value="ME"
                  formControlName="engineType"
                  inputId="me"
                />
              </div>
            </div>
          </div>

          <!-- Name PIC -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="pic" formControlName="pic" />
            <label for="pic">Name PIC</label>
          </p-floatLabel>

          <!-- Multi Pilot Time -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input
              pInputText
              id="multiPilotTime"
              formControlName="multiPilotTime"
            />
            <label for="multiPilotTime">Multi Pilot Time</label>
          </p-floatLabel>

          <!-- Total Time -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <input pInputText id="totalTime" formControlName="totalTime" />
            <label for="totalTime">Total Time</label>
          </p-floatLabel>

          <!-- Landing -->
          <div class="col-span-6">
            <p class="mb-5 flex justify-start">Landing</p>
            <div class="mb-5 grid grid-cols-2 gap-2">
              <!-- Day -->
              <p-floatLabel class="custom-float-label-field">
                <input
                  pInputText
                  id="dayLanding"
                  formControlName="dayLanding"
                />
                <label for="dayLanding">Day</label>
              </p-floatLabel>

              <!-- Night -->
              <p-floatLabel class="custom-float-label-field">
                <input
                  pInputText
                  id="nightLanding"
                  formControlName="nightLanding"
                />
                <label for="nightLanding">Night</label>
              </p-floatLabel>
            </div>

            <!-- Instructor -->
            <p-floatLabel class="custom-float-label-field">
              <input pInputText id="instructor" formControlName="instructor" />
              <label for="instructor">Instructor</label>
            </p-floatLabel>
          </div>

          <!-- Remarks -->
          <p-floatLabel class="custom-float-label-field col-span-6">
            <textarea
              pInputTextarea
              id="remarksAndEndorsements"
              formControlName="remarksAndEndorsements"
              class="w-full h-36 mt-1"
            ></textarea>
            <label for="remarksAndEndorsements">Remarks And Endorsements</label>
          </p-floatLabel>
        </div>
      </section>

      <section class="grid grid-cols-12 gap-5 mt-5">
        <!-- Synthetic Training Devices Session -->
        <div class="custom-card lg:col-span-4 md:col-span-6 col-span-12">
          <p class="form-cards-title mb-5">
            Synthetic Training Devices Session
          </p>

          <!-- Date -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input
                pInputText
                id="syntheticTrainingDate"
                formControlName="syntheticTrainingDate"
              />
              <label for="syntheticTrainingDate">Date</label>
            </p-floatLabel>
          </div>

          <!-- Type -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input
                pInputText
                id="type"
                formControlName="syntheticTrainingType"
              />
              <label for="type">Type</label>
            </p-floatLabel>
          </div>

          <!-- Time -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input
                pInputText
                id="time"
                formControlName="syntheticTrainingTime"
              />
              <label for="time">Time</label>
            </p-floatLabel>
          </div>
        </div>

        <!-- Pilot Function Time -->
        <div class="custom-card lg:col-span-4 md:col-span-6 col-span-12">
          <p class="form-cards-title mb-5">Pilot Function Time</p>

          <!-- PIC -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input
                pInputText
                id="pilotFunctionPic"
                formControlName="pilotFunctionPic"
              />
              <label for="pilotFunctionPic">PIC</label>
            </p-floatLabel>
          </div>

          <!-- CO-PILOT -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input
                pInputText
                id="pilotFunctionCoPilot"
                formControlName="pilotFunctionCoPilot"
              />
              <label for="pilotFunctionCoPilot">CO-PILOT</label>
            </p-floatLabel>
          </div>

          <!-- Duty -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input
                pInputText
                id="pilotFunctionDual"
                formControlName="pilotFunctionDual"
              />
              <label for="pilotFunctionDual">Duty</label>
            </p-floatLabel>
          </div>
        </div>

        <!-- Operation Condition Time -->
        <div class="custom-card lg:col-span-4 md:col-span-6 col-span-12">
          <p class="form-cards-title mb-5">Operation Condition Time</p>

          <!-- Night -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input pInputText id="nightTime" formControlName="nightTime" />
              <label for="nightTime">Night</label>
            </p-floatLabel>
          </div>

          <!-- IFR -->
          <div class="mb-5">
            <p-floatLabel class="custom-float-label-field">
              <input pInputText id="ifrTime" formControlName="ifrTime" />
              <label for="ifrTime">IFR</label>
            </p-floatLabel>
          </div>
        </div>
      </section>
    </form>
  </section>

  <p-confirmDialog class="custom-confirm-dialog-container"></p-confirmDialog>

  <!-- Reject Reason Dialog -->
  <p-dialog
    [(visible)]="displayRejectPopup"
    [modal]="true"
    [draggable]="false"
    class="custom-dialog-container"
    (onHide)="rejectReasonDialogOnHide()"
  >
    <div class="popup-content">
      <!-- Başlık ve Alt Bilgiler -->
      <div>
        <p class="title">Upload Reason</p>
        <i class="pi pi-times" (click)="displayRejectPopup = false"></i>
      </div>
      <div class="popup-header">
        <p><b>Date:</b> {{ editData.date }}</p>
        <p><b>A/C Type:</b> {{ editData.aircraftType }}</p>
        <p><b>A/C Reg:</b> {{ editData.aircraftReg }}</p>
      </div>

      <!-- Giriş Alanı -->
      <textarea
        [(ngModel)]="rejectReason"
        required
        placeholder="Enter reason"
        class="custom-textarea"
        rows="5"
        maxlength="100"
      ></textarea>

      <!-- Footer Alanı -->
      <div class="popup-footer">
        <button
          pButton
          type="button"
          label="Submit"
          [disabled]="rejectReason.length == 0"
          class="submit-button"
          (click)="onSubmitRejectReason()"
        ></button>
      </div>
    </div>
  </p-dialog>
</main>
