<p-table
  #table
  [value]="tableData()"
  [columns]="tableColumns()"
  [loading]="tableLoading()"
  [lazy]="true"
  [paginator]="isPaginator()"
  [rows]="rows"
  [first]="0"
  [totalRecords]="totalRecords()"
  [rowsPerPageOptions]="[20, 40, 80]"
  [selectionMode]="selectionMode()"
  [(selection)]="selectionData"
  (selectionChange)="selectionChange($event)"
  stripedRows
  (onLazyLoad)="onLazyLoad($event)"
>
  <!-- Table Header -->
  <ng-template #header let-columns>
    <tr>
      <th *ngIf="selectionMode() === 'multiple'" style="width: 4rem">
        <p-tableHeaderCheckbox />
      </th>
      <th *ngFor="let col of columns">
        <div class="flex items-center">
          {{ col.header }}
        <p-columnFilter
          *ngIf="col.isFilter"
          type="text"
          [field]="col.field"
          display="menu"
          matchMode="contains"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          placeholder="Search"
          ariaLabel="Filter"
        />
        </div>
      </th>
    </tr>
  </ng-template>

  <!-- Table Body -->
  <ng-template #body let-rowData>
    <tr>
      <td *ngIf="selectionMode() === 'multiple'">
        <p-tableCheckbox [value]="rowData" />
      </td>

      <td *ngFor="let column of tableColumns()">
        <ng-container *ngIf="column.template; else defaultCell">
          <ng-container
            *ngTemplateOutlet="column.template; context: { rowData: rowData }"
          ></ng-container>
        </ng-container>

        <ng-template #defaultCell>
          {{ rowData[column.field] || "-" }}
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template #footer>
    <ng-container *ngTemplateOutlet="footerTemplate()"></ng-container>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="50">{{ noDataFoundMsg() }}</td>
    </tr>
  </ng-template>
</p-table>
