<section id="LoadAndTrimSheet">
  <p-dialog
    [(visible)]="visible"
    (onShow)="dialogOpened()"
    (onHide)="close()"
    header="Load Sheet"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '55vw' }"
  >
    <ng-template #header>
      <div class="flex justify-end w-full">
        <p-button icon="pi pi-download" [text]="true" class="download-button" />
      </div>
    </ng-template>

    <div class="content-container" *ngIf="raw() as loadAndTrimSheetData">
      <!-- ROW 1 -->
      <section class="flex items-center gap-5">
        <!-- <div>
          <p>PREPARED BY</p>
          <p>{{ loadAndTrimSheetData.initialContent.lastUpdater || "-" }}</p>
        </div> -->
        <div>
          <p>CHECKED BY</p>
          <p>{{ loadAndTrimSheetData.initialContent.checkedBy || "-" }}</p>
        </div>
        <div>
          <p>APPROVED BY</p>
          <p>{{ loadAndTrimSheetData.initialContent.approvedBy || "-" }}</p>
        </div>
        <!-- <div>
          <p>EDNO</p>
          <p>
            {{
              loadAndTrimSheetData.initialContent.loadSheetStatus?.edNo || "-"
            }}
          </p>
        </div> -->
      </section>

      <!-- ROW 2 -->
      <section class="flex items-center gap-5 mt-10">
        <div>
          <p>FROM/TO</p>
          <p>
            {{
              loadAndTrimSheetData.initialContent.flightInfo.departurePort ||
                "-"
            }}/
            {{
              loadAndTrimSheetData.initialContent.flightInfo.arrivalPort || "-"
            }}
          </p>
        </div>
        <div>
          <p>FLIGHT</p>

          <p>
            {{
              loadAndTrimSheetData.initialContent.flightInfo.airlineCode || "-"
            }}
            {{ loadAndTrimSheetData.initialContent.flightInfo.flightNo || "-" }}
          </p>
        </div>

        <div>
          <p>A/C-REG</p>
          <p>
            {{ loadAndTrimSheetData.acReg || "-" }}
          </p>
        </div>

        <div>
          <p>A/C TYPE</p>
          <p>{{ loadAndTrimSheetData.initialContent.aircraftType || "-" }}</p>
        </div>
        <div>
          <p>VERSION</p>
          <p>{{ loadAndTrimSheetData.initialContent.version || "-" }}</p>
        </div>
        <div>
          <p>CREW</p>
          <p>
            {{
              loadAndTrimSheetData.initialContent.crewConfiguration?.name || "-"
            }}
          </p>
        </div>

        <!-- <div>
          <p>DATE-TIME</p>
          <p>
            {{
              loadAndTrimSheetData.initialContent.flightInfo.flightDate || "-"
            }}
          </p>
        </div> -->
      </section>

      <!-- ROW 3 -->
      <section class="mt-10">
        <div class="flex items-center gap-10 mt-4">
          <div>
            <p></p>
            <p>LOAD IN COMPARTMENTS</p>
            <p>PASSENGER/CABIN BAG</p>
          </div>
          <div>
            <p>WEIGHT</p>
            <p>
              <!-- {{
                loadAndTrimSheetData.initialContent.destinations?.[0]
                  ?.baggageWeight || "-"
              }} -->
            </p>
            <p>
              <!-- {{
                loadAndTrimSheetData.initialContent.destinations?.[0]
                  ?.transferredBaggageWeight || "-"
              }} -->
            </p>
          </div>
          <div>
            <p>DISTRIBUTION</p>
            <!-- <p>
              {{ loadAndTrimSheetData.initialContent.passengerMassType || "-" }}
            </p> -->
            <!-- <p>
              TTL
              {{ loadAndTrimSheetData.initialContent.totalTrafficLoad || "-" }}
            </p> -->
          </div>
        </div>
      </section>

      <!-- TOTAL TRAFFIC LOAD → LANDING WEIGHT -->
      <section class="mt-5">
        <div class="flex items-center justify-between w-[250px]">
          <p>TOTAL TRAFFIC LOAD</p>
          <p>
            {{ loadAndTrimSheetData.initialContent.totalTrafficLoad || "-" }}
          </p>
        </div>
        <div class="flex items-center justify-between w-[250px]">
          <p>DRY OPERATING WEIGHT</p>
          <p>{{ loadAndTrimSheetData.initialContent.dow || "-" }}</p>
        </div>

        <div class="flex items-center gap-10 mt-4">
          <div class="flex items-center justify-between w-[250px]">
            <p>ZERO FUEL WEIGHT ACTUAL</p>
            <p>
              {{
                loadAndTrimSheetData.initialContent.zeroFuelWeightActual || "-"
              }}
            </p>
          </div>
          <div class="flex items-center gap-10">
            MAX
            <p>
              {{ loadAndTrimSheetData.initialContent.maxZeroFuelWeight || "-" }}
            </p>
          </div>
          <!-- <div class="flex items-center gap-10">
            ADJ<p>{{ }}</p>
          </div> -->
        </div>

        <!-- 
        <div class="flex items-center justify-between w-[250px] mt-4">
          <p>TAKE OFF FUEL</p>
          <p>{{ loadAndTrimSheetData.initialContent.taxiFuel || "-" }}</p>
        </div> -->

        <div class="flex items-center gap-10 mt-4">
          <div class="flex items-center justify-between w-[250px]">
            <p>TAKE OFF WEIGHT ACTUAL</p>
            <p>
              {{
                loadAndTrimSheetData.initialContent.takeOffWeightActual || "-"
              }}
            </p>
          </div>
          <!-- <div class="flex items-center gap-10">
            <span>MAX</span>
            <p>
              {{ loadAndTrimSheetData.initialContent.maxZeroFuelWeight || "-" }}
            </p>
          </div>
           <div class="flex items-center gap-10">
            <span>ADJ</span>
            <p>
              {{ loadAndTrimSheetData.initialContent.maxZeroFuelWeight || "-" }}
            </p>
          </div> -->
        </div>

        <div class="flex items-center justify-between w-[250px] mt-4">
          <p>TRIP FUEL</p>
          <p>{{ loadAndTrimSheetData.initialContent.tripFuel || "-" }}</p>
        </div>

        <div class="flex items-center gap-10 mt-4">
          <div class="flex items-center justify-between w-[250px]">
            <p>LANDING WEIGHT ACTUAL</p>
            <p>
              {{
                loadAndTrimSheetData.initialContent.landingWeightActual || "-"
              }}
            </p>
          </div>
          <!-- <div class="flex items-center gap-10">
            <span>MAX</span>
            <p>{{ loadAndTrimSheetData.initialContent.mallw || "-" }}</p>
          </div>
           <div class="flex items-center gap-10">
            <span>least</span>
            <p>{{ loadAndTrimSheetData.initialContent.mallw || "-" }}</p>
          </div>
           <div class="flex items-center gap-10">
            <span>adj</span>
            <p>{{ loadAndTrimSheetData.initialContent.mallw || "-" }}</p>
          </div> -->
        </div>
      </section>

      <!-- BALANCE & SEATING → LAST MINUTE CHANGES -->
      <section class="grid grid-cols-2 gap-10 mt-10">
        <div>
          <p class="mb-2">BALANCE AND SEATING CONDITIONS</p>
          <div class="flex items-center justify-between w-[250px]">
            <p>DOI</p>
            <p>{{ loadAndTrimSheetData.initialContent.doi || "-" }}</p>
          </div>
          <div class="grid grid-cols-2">
            <div class="flex items-center gap-10">
              <p>LIZFW</p>
              <p>{{ loadAndTrimSheetData.initialContent.lizfw || "-" }}</p>
            </div>

            <div class="flex items-center gap-5">
              <p class="ml-20">MACZFW</p>
              <p>{{ loadAndTrimSheetData.initialContent.maczfw || "-" }}</p>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="flex items-center gap-10">
              <p>LITOW</p>
              <p>{{ loadAndTrimSheetData.initialContent.litow || "-" }}</p>
            </div>
            <div class="flex items-center gap-5">
              <p class="ml-20">MACTOW</p>
              <p>{{ loadAndTrimSheetData.initialContent.mactow || "-" }}</p>
            </div>
          </div>

          <div class="grid grid-cols-2">
            <div class="flex items-center gap-10">
              <p>LILAW</p>
              <p>{{ loadAndTrimSheetData.initialContent.lilaw || "-" }}</p>
            </div>
            <div class="flex items-center gap-5">
              <p class="ml-20">MACLAW</p>
              <p>{{ loadAndTrimSheetData.initialContent.maclaw || "-" }}</p>
            </div>
          </div>
        </div>

        <div>
          <p class="mb-4 ml-28">LAST MINUTE CHANGES</p>
          <div class="flex items-center gap-5 ml-28">
            <p>DEST</p>
            <p>
              {{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.Destination || "-" }}
            </p>
            <p>SPEC</p>
            <p>
              {{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.SpcAmount || "-" }}
              {{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.SpcType || "" }}
              {{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.SpcSubtype || "" }}
            </p>
            <p>CL/CPT</p>
            <p>{{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.ClCpt || "-" }}</p>
            <p>+ WEIGHT</p>
            <p>{{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.Weight || "-" }}</p>
          </div>
        </div>

        <!-- FLAP INFO -->
        <div class="flex gap-4">
          <p>
            {{ loadAndTrimSheetData.initialContent.flapInfo?.stapTo || "-" }}
          </p>
          <p>
            {{ loadAndTrimSheetData.initialContent.flapInfo?.flapValue || "-" }}
          </p>
        </div>

        <!-- SEATING -->
        <div>
          <p>SEATING</p>
          <p>
            {{ loadAndTrimSheetData.initialContent.cabinDistribution || "-" }}
          </p>
        </div>

        <!-- UNDERLOAD -->
        <div class="flex gap-4">
          <p>UNDERLOAD</p>
          <p>
            {{ loadAndTrimSheetData.initialContent.underloadBeforeLMC || "-" }}
          </p>
        </div>

        <p>*</p>

        <!-- LOAD MESSAGE AND CAPTAIN'S INFORMATION -->
        <section class="mt-10">
          <p class="mb-4">LOAD MESSAGE AND CAPTAIN'S INFORMATION</p>
          <div class="flex items-center justify-between w-[250px]">
            <p>TAXI FUEL</p>
            <p>{{ loadAndTrimSheetData.initialContent.taxiFuel || "-" }}</p>
          </div>
          <div class="flex items-center justify-between w-[250px]">
            <p>PAX WEIGHT USED</p>
            <p>
              {{ loadAndTrimSheetData.lmc.lmcJson?.[0]?.PaxWeightUsed || "-" }}
            </p>
          </div>
        </section>
      </section>
    </div>
  </p-dialog>
</section>
