<div id="lmc-details-modal">
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    header="LMC Details"
    [style]="{ width: '1200px' }"
    (onHide)="closeModal()"
  >
    <section class="table-section custom-card mt-5">
      <app-custom-table
        [tableData]="lmcModalData"
        [tableColumns]="lmcModalColumns"
        [isPaginator]="false"
        [footerTemplate]="lmcFooterTemplate"
      >
      </app-custom-table>

      <ng-template #lmcFooterTemplate>
  <tr>
    <td colspan="4" class="!text-right font-bold text-sm">
      Total
    </td>
    <td class="font-bold text-sm">
      {{ totalWeight | number }}
    </td>
    <td colspan="2"></td>
  </tr>
</ng-template>

    </section>
  </p-dialog>
</div>
