/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import "primeicons/primeicons.css";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Variables
$input-focus-border-color: rgba(0, 0, 0, 1);
$input-disabled-bg-color: rgba(243, 242, 241, 1);
$input-disabled-border-color: rgba(243, 242, 241, 1);
$base-text-color: #444444;
$option-hover-bg: rgba(254, 184, 20, 0.247);
$option-selected-bg: rgba(254, 184, 20, 0.478);

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $base-text-color;
}

.p-component {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Input
.custom-icon-field {
  input {
    width: 100%;
    height: 32px;
    display: grid;
    align-items: center;
    border-radius: 4px;
    font-size: 10px !important;
    color: $base-text-color;
    padding-left: 10px;
    outline: none !important;
  }

  .p-inputtext:enabled:focus {
    border-color: $input-focus-border-color;
  }
}

.custom-float-label-field {
  input,
  textarea {
    color: $base-text-color;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 12px;
  }

  .p-inputtext {
    &:enabled:focus {
      border-color: $input-focus-border-color !important;
    }

    &:disabled {
      background-color: $input-disabled-bg-color;
      border-color: $input-disabled-border-color;
    }
  }

  &:has(input:focus) label,
  &:has(input:-webkit-autofill) label,
  &:has(textarea:focus) label,
  &:has(.p-inputwrapper-focus) label {
    color: $base-text-color !important;
  }
}

// DROPDOWN
.custom-dropdown {
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 5px;

  &:not(.p-disabled).p-focus {
    border-color: $input-focus-border-color !important;
  }

  .p-select-label {
    width: 100%;
    font-size: 8px;
    font-weight: 300;
    color: $base-text-color;
  }

  .p-select-option {
    font-size: 8px;
  }

  .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background-color: $option-hover-bg !important;
  }

  .p-select-option.p-select-option-selected {
    background-color: $option-selected-bg !important;
  }
}

// CALENDAR
.custom-calendar {
  input {
    width: 100%;
    height: 25px;
    display: grid;
    align-items: center;
    border-radius: 5px;
    font-size: 8px;
    font-weight: 300;
    color: $base-text-color;
    padding-left: 10px;
    outline: none !important;
  }

  .p-inputtext {
    &:enabled:focus {
      border-color: $input-focus-border-color;
    }

    &:disabled {
      background-color: $input-disabled-bg-color;
      border-color: $input-disabled-border-color;
    }
  }

  .p-datepicker {
    display: flex;
  }

  .p-datepicker-day-selected,
  .p-datepicker-year-selected {
    background-color: #feb914 !important;
  }

  .p-datepicker-day-selected-range {
    background-color: $option-hover-bg;
  }

  .p-datepicker-day:not(.p-datepicker-day-selected):not(.p-disabled):hover {
    background-color: $option-hover-bg !important;
  }

  .p-datepicker-today > .p-datepicker-day {
    background-color: $option-selected-bg;
  }

  .p-button-text {
    color: $base-text-color !important;
  }
}

.p-dropdown-panel {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;

  .p-dropdown-item {
    padding: 2px;
    font-size: 10px;

    &:hover {
      background: #f0f0f0;
      color: #000000;
    }
  }
}

// CARD
.custom-card {
  background-color: #f2f2f24d;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
}

// RADIO BUTTON
.custom-radio-button {
  .p-radiobutton-checked .p-radiobutton-box {
    border-color: #feb914 !important;
    background: #feb914 !important;
  }

  &:not(.p-disabled):has(.p-radiobutton-input:hover) .p-radiobutton-box {
    border-color: #feb914 !important;
    background: #feb914 !important;
  }
}

// TOOLTIP
.custom-tooltip {
  .p-tooltip-text {
    background-color: #fff !important;
    color: #444444;
  }
}

.custom-tooltip,
.p-tooltip-top .p-tooltip-arrow {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.custom-tooltip,
.p-tooltip-left .p-tooltip-arrow {
  border-left-color: #fff !important;
}

.p-tooltip-bottom .p-tooltip-arrow {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}

// TABLE
.p-datatable {
  .p-datatable-thead > tr > th {
    font-weight: 500;
    color: #8d8d8d;
    font-size: 14px;
    padding: 7px 15px;
  }

  .p-datatable-tbody > tr > td {
    padding: 7px 15px;
    font-size: 14px;
  }
}

p-columnfilterformelement {
  input {
    font-size: 12px !important;
    width: 100% !important;
  }

  .p-select {
    font-size: 12px !important;
    width: 100% !important;
  }
}

.p-datatable-filter-buttonbar {
  .p-button {
    background-color: #feb914 !important;
    border: 1px solid #feb914 !important;
    color: #fff !important;
  }

  .p-button-outlined {
    background-color: transparent !important;
    border: 1px solid #feb914 !important;
    color: #feb914 !important;
  }
}

// CONFIRM DIALOG
.custom-confirm-dialog-container {
  .custom-confirm-content {
    text-align: center;
  }

  .custom-confirm-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img {
      width: 45px;
      height: 45px;
    }
  }

  .custom-confirm-message {
    font-size: 16px;
    font-weight: 500;
  }

  .p-dialog-header-actions {
    display: none;
  }

  .p-dialog-header {
    padding: 5px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .p-dialog-content {
    display: flex;
    justify-content: center;
  }

  .p-dialog-footer {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .action-button,
  .cancel-button {
    width: 193px;
    padding: 14px 16px;
    border-radius: 8px;
    .p-button-label {
      font-weight: 500;
    }
  }

  .action-button {
    background-color: #feb914 !important;
    color: $base-text-color !important;
    border: none !important;
  }

  .cancel-button {
    background-color: #f5f5f5 !important;
    color: #4f4f4f !important;
    border: none !important;
  }
}

// TOAST
.p-toast {
  .p-toast-message-warn {
    background-color: white;
    color: #feb914;
    border-radius: 8px;

    .p-toast-message-icon,
    .p-toast-message-content {
      color: #feb914;
    }
  }
}

// BUTTON
.p-button-text:not(:disabled):hover {
  background: rgb(241, 241, 241) !important;
}

// TABS
.custom-tabs {
  .p-tab-active {
    color: $option-selected-bg;
  }

  .p-tablist-active-bar {
    background-color: $option-selected-bg;
  }
}

// CHIPS
.green-chip {
  background-color: #0e8345 !important;
  color: #fff !important;
}

.gray-chip {
  background-color: #dfe3e9 !important;
  color: #515b66 !important;
}

.yellow-chip {
  background-color: #feb914 !important;
  color: #515b66 !important;
}

.light-green-chip {
  background-color: #34c759 !important;
  color: #fff !important;
}

.red-chip {
  background-color: #eb4d55 !important;
  color: #fff !important;
}

.orange-chip {
  background-color: #ea9655 !important;
  color: #fff !important;
}

.black-chip {
  background-color: #515b66 !important;
  color: #fff !important;
}
