/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import "primeicons/primeicons.css";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Input
.custom-icon-field {
  input {
    width: 100%;
    display: grid;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 8px;
    font-weight: 300;
    color: #4f4f4f;
    padding-left: 10px;
    outline: none !important;
  }
}

.custom-float-label-field {
  input,
  textarea {
    background-color: #f5f5f5;
    color: #4f4f4f;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 12px;
  }

  .p-inputtext:disabled {
    background-color: #f3f2f1;
    border-color: #f3f2f1;
  }
}

.custom-dropdown {
  .p-dropdown {
    width: 100%;
    height: 25px;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #f5f5f5;

    .p-dropdown-label {
      width: 100%;
      font-size: 8px;
      font-weight: 300;
      color: #4f4f4f;
    }
  }
}

.p-dropdown-panel {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;

  .p-dropdown-item {
    padding: 2px;
    font-size: 10px;

    &:hover {
      background: #f0f0f0;
      color: #000000;
    }
  }
}

.custom-card {
  background-color: #f2f2f24d;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
}

.p-component {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Table styles
.p-datatable .p-datatable-thead > tr > th {
  font-weight: 400;
  color: black;
  font-size: 12px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 7px;
  font-size: 12px;
}

// Confirm Dialog
.custom-confirm-dialog-container {
  .custom-confirm-content {
    text-align: center;
  }

  .custom-confirm-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img {
      width: 45px;
      height: 45px;
    }
  }

  .custom-confirm-message {
    font-size: 16px;
    font-weight: 500;
  }

  .p-dialog-header-close {
    display: none;
  }

  .p-dialog-header {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #fbfbfb;
  }

  .p-dialog-content {
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
  }

  .p-dialog-footer {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #fbfbfb;
  }

  .action-button,
  .cancel-button {
    width: 193px;
    padding: 14px 16px;
    border-radius: 8px;
    .p-button-label {
      font-weight: 500;
    }
  }

  .action-button {
    background-color: #feb914;
    color: #4f4f4f;
    border: none;
  }

  .cancel-button {
    background-color: #f5f5f5;
    color: #4f4f4f;
    border: none;
  }
}

/* Toast */
.p-toast {
  .p-toast-message-warn {
    background-color: white;
    color: #feb914;
    border-radius: 8px;

    .p-toast-message-icon,
    .p-toast-message-content {
      color: #feb914;
    }
  }
}
