#dashboard-page {
  .dashboard-title {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
  }

  .fallback-toggle {
    display: flex;
    align-items: center;
    padding: 0px 15px;

    gap: 10px;
    color: #515b66;
    font-size: 14px;
  }
}

::ng-deep {
  #dashboard-page {
    .p-button.custom-range-button {
      background: none !important;
      border: none;
      padding-right: 10px;
      font-size: 14px;
      color: #515b66;

      &.active {
        color: #0d0f11;

        .p-button-label {
          font-weight: 600 !important;
        }
      }

      &:hover {
        color: #0d0f11;
      }
    }
  }
}
