<main id="LogbookPage">
  <section class="table-header-section w-full">
    <div class="header-title w-full">Logbook List</div>
    <div class="flex justify-end items-center w-full gap-6">
      <div class="date-range-picker">
        <p-calendar
          [(ngModel)]="dateRange"
          selectionMode="range"
          [showIcon]="false"
          placeholder="Start Date - End Date"
          dateFormat="dd/mm/yy"
          class="custom-icon-field date-range-picker"
        ></p-calendar>
      </div>

      <div class="search-container">
        <input
          type="text"
          placeholder="Crew Name&Surname / Company ID"
          class="search-input"
          [(ngModel)]="searchQuery"
        />
        <i class="pi pi-search search-icon"></i>
      </div>

      <div class="dropdown-container">
        <p-dropdown
          [options]="statusOptions"
          [(ngModel)]="selectedPeriod"
          optionLabel="label"
          optionValue="value"
          class="custom-dropdown period-dropdown"
          placeholder="Status"
        ></p-dropdown>
      </div>
    </div>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="logbookData"
      [tableColumns]="columns"
    ></app-custom-table>
  </section>

  <p-dialog
    [(visible)]="displayRejectPopup"
    [modal]="true"
    [draggable]="false"
    class="custom-dialog-container"
  >
    <div class="popup-content">
      <!-- Başlık ve Alt Bilgiler -->
      <p class="title">Upload Reason</p>
      <div class="popup-header">
        <p><b>Date:</b> {{ selectedRow?.uploadDate }}</p>
        <p><b>A/C Type:</b> {{ selectedRow?.aircraftType }}</p>
        <p><b>A/C Reg:</b> {{ selectedRow?.aircraftReg }}</p>
      </div>

      <!-- Giriş Alanı -->
      <textarea
        [(ngModel)]="rejectReason"
        placeholder="Enter reason"
        class="custom-textarea"
        rows="5"
        maxlength="100"
      ></textarea>

      <!-- Footer Alanı -->
      <div class="popup-footer">
        <button
          type="button"
          pButton
          label="Submit"
          (click)="submitRejectReason()"
          class="submit-button"
        ></button>
      </div>
    </div>
  </p-dialog>

  <p-confirmDialog class="custom-confirm-dialog-container"></p-confirmDialog>
</main>

<!-- Table Cell Templates -->
<ng-template #previewCellBodyTemplate>
  <i class="pi pi-eye"></i>
</ng-template>

<ng-template #editableCellBodyTemplate let-rowData="rowData">
  @if (rowData.status !== "REASSING") {
    <i class="pi pi-pen-to-square" (click)="goToLogBookEditPage(rowData)"></i>
  } @else if (rowData.status === "REASSING") {
    <div class="action-icons">
      <img
        src="/icons/check-icon.svg"
        alt="Approve"
        class="icon-action"
        (click)="onApprove(rowData)"
      />
      <img
        src="/icons/reject-icon.svg"
        alt="Reject"
        class="icon-action"
        (click)="onReject(rowData)"
      />
    </div>
  }
</ng-template>
