<div id="LogbookComponent">
  <section class="table-header-section">
    <span class="header-title">Logbook</span>
    <p-select
      [options]="yearOptions()"
      [(ngModel)]="selectedYear"
      (ngModelChange)="this.getLogbookSummary()"
      placeholder="Select Year"
      class="custom-dropdown period-dropdown"
    />
  </section>

  <section>
    <div class="grid grid-cols-12 lg:gap-20 md:gap-20">
      <!-- BOEING -->
      <div class="lg:col-span-4 md:col-span-6 col-span-12 mb-5">
        <div class="chart-box-container">
          <div class="chart-box-header">Boeing / {{ selectedYear }}</div>

          <div class="line-chart-container mb-4">
            <div class="flex items-center gap-2">
              <p class="chart-label">Duty</p>
              <p-slider
                [ngModel]="boeingData()?.totalDuties"
                max="500"
                class="duty-chart"
                styleClass="w-[230px]"
              />
            </div>
            <p class="chart-description">
              {{ boeingData()?.totalDuties }} duty
            </p>
          </div>

          <div class="line-chart-container">
            <div class="flex items-center gap-2">
              <p class="chart-label">Time</p>
              <p-slider
                [ngModel]="boeingData()?.totalHours"
                max="500"
                class="time-chart"
                styleClass="w-[230px]"
              />
            </div>
            <p class="chart-description">
              {{ boeingData()?.totalHours }} hours
            </p>
          </div>
        </div>

        <div class="custom-card mt-5">
          <app-custom-table
            [tableData]="boeingData()?.monthlyDetails"
            [tableColumns]="columns"
            [tableLoading]="tableLoading"
            [isPaginator]="false"
          />
        </div>
      </div>

      <!-- AIRBUS -->
      <div class="lg:col-span-4 md:col-span-6 col-span-12 mb-5">
        <div class="chart-box-container">
          <div class="chart-box-header">Airbus / {{ selectedYear }}</div>

          <div class="line-chart-container mb-4">
            <div class="flex items-center gap-2">
              <p class="chart-label">Duty</p>
              <p-slider
                [ngModel]="airbusData()?.totalDuties"
                max="5000"
                class="duty-chart"
                styleClass="w-[230px]"
              />
            </div>
            <p class="chart-description">
              {{ airbusData()?.totalDuties }} duty
            </p>
          </div>

          <div class="line-chart-container">
            <div class="flex items-center gap-2">
              <p class="chart-label">Time</p>
              <p-slider
                [ngModel]="airbusData()?.totalHours"
                max="5000"
                class="time-chart"
                styleClass="w-[230px]"
              />
            </div>
            <p class="chart-description">
              {{ airbusData()?.totalHours }} hours
            </p>
          </div>
        </div>

        <div class="custom-card mt-5">
          <app-custom-table
            [tableData]="airbusData()?.monthlyDetails"
            [tableColumns]="columns"
            [tableLoading]="tableLoading"
            [isPaginator]="false"
          />
        </div>
      </div>

      <!-- TRAINING -->
      <div class="lg:col-span-4 md:col-span-6 col-span-12 mb-5">
        <div class="chart-box-container">
          <div class="chart-box-header">Training / {{ selectedYear }}</div>

          <div class="line-chart-container mb-4">
            <div class="flex items-center gap-2">
              <p class="chart-label">Duty</p>
              <p-slider
                [ngModel]="trainingData()?.totalTrainings"
                max="500"
                class="duty-chart"
                styleClass="w-[230px]"
              />
            </div>
            <p class="chart-description">
              {{ trainingData()?.totalTrainings }} duty
            </p>
          </div>

          <div class="line-chart-container">
            <div class="flex items-center gap-2">
              <p class="chart-label">Time</p>
              <p-slider
                [ngModel]="trainingData()?.totalHours"
                max="1000"
                class="time-chart"
                styleClass="w-[230px]"
              />
            </div>
            <p class="chart-description">
              {{ trainingData()?.totalHours }} hours
            </p>
          </div>
        </div>

        <div class="custom-card mt-5">
          <app-custom-table
            [tableData]="trainingData()?.monthlyDetails"
            [tableColumns]="columns"
            [tableLoading]="tableLoading"
            [isPaginator]="false"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #monthColumnsTemplate let-rowData="rowData">
  <span>{{ rowData.yearMonth | date: "MMMM" }}</span>
</ng-template>

<ng-template #dutyColumnsTemplate let-rowData="rowData">
  <span>{{ rowData.dutyCount }} / {{ rowData.totalHours }} hours</span>
</ng-template>

<ng-template #linkedNextPageTemplate let-rowData="rowData">
  <i class="pi pi-angle-right cursor-pointer" (click)="onNextPage(rowData)"></i>
</ng-template>
