#logbook-page {
  .table-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .header-title {
      color: #4f4f4f;
      font-weight: bold;
    }

    .period-dropdown {
      width: 120px;
    }
  }

  .total-card-container {
    border: 0.5px solid #9a9a9a;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;

    .total-card-header {
      font-size: 16px;
      font-weight: 700;
      color: #444444;
      margin-bottom: 15px;
    }

    .total-card-content {
      display: flex;
      align-items: center;
      gap: 70px;

      .total-card-item-label {
        font-size: 24px;
        color: #4f4f4f;
      }

      .total-card-item-count {
        font-size: 32px;
        font-weight: 700;
        color: #4f4f4f;
        margin-right: 5px;
      }
    }
  }

  .status-badge {
    padding: 6px;
    border-radius: 20px;
    font-size: 10px;
  }
  .status-badge-approved {
    background-color: #B2CCBD;
    color: #0E8345;
  }

  .status-badge-not-approved {
    background-color: #F8D9AB;
    color: #FF8D2A;
  }

  .status-badge-inactive {
    background-color: #CFCFCF;
    color: #6F7883;
  }
}
