<div id="LogbookComponent">
  <section class="table-header-section">
    <span class="header-title">Logbook</span>
    <p-select
      [options]="yearOptions()"
      [(ngModel)]="selectedYear"
      (ngModelChange)="this.getLogbookSummary()"
      placeholder="Select Year"
      class="custom-dropdown period-dropdown"
    />
  </section>

  <section>
    <div class="grid grid-cols-12 lg:gap-20 md:gap-20">
      <!-- BOEING -->
      <div class="lg:col-span-4 md:col-span-6 col-span-12 mb-5">
        <div class="total-card-container">
          <div class="total-card-header">Boeing / {{ selectedYear }}</div>

          <div class="total-card-content">
            <div>
              <p class="total-card-item-label">Duty</p>
              <div>
                <span class="total-card-item-count">{{
                  boeingData()?.totalDuties
                }}</span>
                <small class="font-light">times</small>
              </div>
            </div>

            <div>
              <p class="total-card-item-label">Time</p>
              <div>
                <span class="total-card-item-count">{{
                  boeingData()?.totalHours
                }}</span>
                <small class="font-light">hours</small>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-card mt-5">
          <app-custom-table
            [tableData]="boeingData()?.monthlyDetails"
            [tableColumns]="columns"
            [tableLoading]="tableLoading"
            [isPaginator]="false"
          />
        </div>
      </div>

      <!-- AIRBUS -->
      <div class="lg:col-span-4 md:col-span-6 col-span-12 mb-5">
        <div class="total-card-container">
          <div class="total-card-header">Airbus / {{ selectedYear }}</div>

          <div class="total-card-content">
            <div>
              <p class="total-card-item-label">Duty</p>
              <div>
                <span class="total-card-item-count">{{
                  airbusData()?.totalDuties
                }}</span>
                <small class="font-light">times</small>
              </div>
            </div>

            <div>
              <p class="total-card-item-label">Time</p>
              <div>
                <span class="total-card-item-count">{{
                  airbusData()?.totalHours
                }}</span>
                <small class="font-light">hours</small>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-card mt-5">
          <app-custom-table
            [tableData]="airbusData()?.monthlyDetails"
            [tableColumns]="columns"
            [tableLoading]="tableLoading"
            [isPaginator]="false"
          />
        </div>
      </div>

      <!-- TRAINING -->
      <div class="lg:col-span-4 md:col-span-6 col-span-12 mb-5">
        <div class="total-card-container">
          <div class="total-card-header">Training / {{ selectedYear }}</div>

          <div class="total-card-content">
            <div>
              <p class="total-card-item-label">Duty</p>
              <div>
                <span class="total-card-item-count">{{
                  trainingData()?.totalTrainings
                }}</span>
                <small class="font-light">times</small>
              </div>
            </div>

            <div>
              <p class="total-card-item-label">Time</p>
              <div>
                <span class="total-card-item-count">{{
                  trainingData()?.totalHours
                }}</span>
                <small class="font-light">hours</small>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-card mt-5">
          <app-custom-table
            [tableData]="trainingData()?.monthlyDetails"
            [tableColumns]="columns"
            [tableLoading]="tableLoading"
            [isPaginator]="false"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #monthColumnsTemplate let-rowData="rowData">
  <span>{{ rowData.yearMonth | date: "MMMM" }}</span>
</ng-template>

<ng-template #dutyColumnsTemplate let-rowData="rowData">
  @if (rowData.dutyCount) {
    <span>{{ rowData.dutyCount }} / {{ rowData.totalHours }} hours</span>
  } @else {
    <span>-</span>
  }
</ng-template>

<ng-template #linkedNextPageTemplate let-rowData="rowData">
  <i class="pi pi-angle-right cursor-pointer" (click)="onNextPage(rowData)"></i>
</ng-template>
