<div id="FuelPage">
  <section class="table-header-section lg:flex block">
    <!-- Header Title -->
    <p class="header-title">Fuel</p>

    <!-- Filter Inputs and Dropdown -->
    <div class="grid grid-cols-12 gap-4 items-center">
      <!-- Aircraft  Input -->
      <div class="lg:col-span-2 md:col-span-6 col-span-12">
        <p-iconField iconPosition="right" class="custom-icon-field">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input type="text" pInputText placeholder="Aircraft" />
        </p-iconField>
      </div>

      <!-- Flight No Input -->
      <div class="lg:col-span-2 md:col-span-6 col-span-12">
        <p-iconField iconPosition="right" class="custom-icon-field">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input type="text" pInputText placeholder="Flight No" />
        </p-iconField>
      </div>

      <!-- Dep Port Input -->
      <div class="lg:col-span-2 md:col-span-6 col-span-12">
        <p-iconField iconPosition="right" class="custom-icon-field">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input type="text" pInputText placeholder="Dep Port" />
        </p-iconField>
      </div>

      <!-- Arr Port Input -->
      <div class="lg:col-span-2 md:col-span-6 col-span-12">
        <p-iconField iconPosition="right" class="custom-icon-field">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input type="text" pInputText placeholder="Arr Port" />
        </p-iconField>
      </div>

      <!-- Dropdown for "Fuel Order" -->
      <div class="lg:col-span-2 md:col-span-6 col-span-12">
        <p-dropdown
          [options]="fuelOrderOptions"
          [(ngModel)]="selectedFuelOrder"
          class="custom-dropdown"
          placeholder="Fuel Order"
        ></p-dropdown>
      </div>

      <!-- Dropdown for "Daily" -->
      <div class="lg:col-span-2 md:col-span-6 col-span-12">
        <p-dropdown
          [options]="periodOptions"
          [(ngModel)]="selectedDaily"
          class="custom-dropdown"
          placeholder="Daily"
        ></p-dropdown>
      </div>
    </div>
  </section>

  <section class="table-section custom-card">
    <app-custom-table
      [tableData]="fuelData"
      [tableColumns]="columns"
    ></app-custom-table>
  </section>
</div>

<!-- Table Cell Templates -->
<ng-template #fuelOrderCellBodyTemplate let-rowData="rowData">
  <span class="font-bold">{{ rowData.fuelOrder }}</span>
</ng-template>
