<div id="licence-info-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Licence Info</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchInputValue"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <!-- Table -->
  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="licenceInfoData"
      [tableColumns]="columns()"
    ></app-custom-table>
  </section>
</div>

<!-- Licence Column Template -->
<ng-template #licenceColumnTemplate let-rowData="rowData">
  <button
    class="border border-gray-300 rounded-md px-3 py-1 bg-white"
    (click)="onLicenceShow(rowData)"
  >
    Show
  </button>
</ng-template>

<!-- Licence Modal Component -->
<app-licence-modal [(visible)]="licenceModalVisible"></app-licence-modal>
