<div id="aircraft-checklist-page">
  <!-- Page Header -->
  <section class="flex items-center justify-between">
    <p class="header-title">Aircraft Checklist</p>

    <div class="w-[210px]">
      <p-iconField iconPosition="right" class="custom-icon-field">
        <input
          type="text"
          pInputText
          #searchInput
          [(ngModel)]="searchInputValue"
          placeholder="Find Aircraft or Flight No"
        />
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      </p-iconField>
    </div>
  </section>

  <!-- Table -->
  <section class="table-section custom-card mt-5">
    <app-custom-table
      [tableData]="aircraftChecklistContentData()"
      [tableColumns]="columns()"
      [totalRecords]="aircraftChecklistData()?.totalElements || 0"
      [tableLoading]="tableLoading()"
      (lazyLoadEvent)="lazyLoadEvent($event)"
    ></app-custom-table>
  </section>
</div>

<!-- Signature Column Template -->
<ng-template #signatureColumnTemplate let-rowData="rowData">
  <button
    class="border border-gray-300 rounded-md px-3 py-1 bg-white"
    (click)="onSignatureShow(rowData)"
  >
    Show
  </button>
</ng-template>

<!-- Signature Modal -->
<app-aircraft-checklist-modal
  [(visible)]="signatureModalVisible"
  [rowData]="selectedRowData()"
/>

<ng-template #melItemsStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.melItems === true,
      'pi-times-circle text-red-500': rowData.melItems === false,
    }"
  ></i> </ng-template
><ng-template #dailyCheckStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.dailyCheck === true,
      'pi-times-circle text-red-500': rowData.dailyCheck === false,
    }"
  ></i> </ng-template
><ng-template #defferedItemsStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.defferedItems === true,
      'pi-times-circle text-red-500': rowData.defferedItems === false,
    }"
  ></i> </ng-template
><ng-template #preflightCheckStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.preflightCheck === true,
      'pi-times-circle text-red-500': rowData.preflightCheck === false,
    }"
  ></i> </ng-template
><ng-template #fluidUpliftStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.fluidUplift === true,
      'pi-times-circle text-red-500': rowData.fluidUplift === false,
    }"
  ></i> </ng-template
><ng-template #securitySearchStatusTemplate let-rowData="rowData">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': rowData.securitySearch === true,
      'pi-times-circle text-red-500': rowData.securitySearch === false,
    }"
  ></i>
</ng-template>
