<section class="graph-container">
  <div class="flex items-center gap-3">
    <p class="text-sm font-bold">Total Flights</p>
    <div *ngIf="totalFlightsCardLoading()">
      <p-progress-spinner
        strokeWidth="8"
        fill="transparent"
        animationDuration=".5s"
        [style]="{ width: '20px', height: '20px' }"
      />
    </div>
  </div>

  <div
    *ngIf="!totalFlightsCardLoading()"
    class="charts-box grid grid-cols-12"
  >
    <!-- Flight Chart -->
    <div class="flex gap-5 lg:col-span-6 col-span-12">
      <div>
        <div class="total-flights-title">Total Flights</div>
        <div class="total-flights-number">
          {{ totalFlightsData()?.totalFlights }}
        </div>
      </div>

      <div class="chart-container">
        <app-custom-donut-chart
          [data]="chartDataOne()"
          [options]="chartOptionsOne"
        />
      </div>

      <div class="chart-labels-container">
        <ul>
          <li><span class="dot flight-plan-dot"></span> Flight Plan</li>
          <li><span class="dot load-sheet-dot"></span> Load Sheet</li>
          <li><span class="dot trip-info-dot"></span> Trip Info</li>
        </ul>
      </div>
    </div>

    <!-- Fuel Chart -->
    <div class="flex gap-5 lg:col-span-6 col-span-12 sm:col-start-4">
      <div class="chart-container">
        <app-custom-donut-chart
          [data]="chartDataTwo()"
          [options]="chartOptionsTwo"
        />
      </div>

      <div class="chart-labels-container">
        <ul>
          <li><span class="dot fuel-order-dot"></span> Fuel Order</li>
          <li><span class="dot lmc-dot"></span> LMC</li>
          <li><span class="dot gps-loss-form-dot"></span> GPS Loss Form</li>
        </ul>
      </div>
    </div>
  </div>

</section>
